[2017-01-16 23:02] SylvainCorlay opened #12 "OS X Support"

[2017-05-11 15:58] JohanMabille opened #14 "Random access violation on windows x64"

[2017-05-19 14:33] JohanMabille commented on #12
Fixed in #16

[2017-05-19 14:33] #12 closed

[2017-05-19 14:33] JohanMabille commented on #14
Fixed in #16

[2017-05-19 14:33] #14 closed

[2017-06-01 23:58] JohanMabille opened #27 "Implement exponential functions"
Exponential functions:

- [X] exp
- [X] exp2
- [X] exp10
- [x] expm1

[2017-06-01 23:59] JohanMabille opened #28 "Implement logarithm functions"
Logarithm functions:

- [x] log
- [x] log10
- [x] log2
- [x] log1p

[2017-06-02 00:00] JohanMabille opened #29 "Implement trigonometric functions"
Trigonometric functions:

- [x] sin
- [x] cos
- [x] tan
- [x] asin
- [x] acos
- [x] atan
- [x] atan2

[2017-06-02 00:07] JohanMabille opened #30 "Implement hyperbolic functions"
Hyperbolic functions:

- [x] sinh
- [x] cosh
- [x] tanh
- [x] asinh
- [x] acosh
- [x] atanh

[2017-06-02 00:08] JohanMabille opened #31 "Implement error and gamma functions"
Error and gamma functions:

- [x] erf
- [x] erfc
- [x] tgamma
- [x] lgamma

[2017-06-02 00:18] JohanMabille opened #32 "CMakeLists.txt compliant with Debian packaging"
Following changes are required:

- [x] download gtest instead of using local installation
- [x] test installed package instead of local one
- [x] remove CMAKE_SIZEOF_VOID_P from xsimdConfigVersion.cmake

[2017-06-02 09:19] JohanMabille commented on #27
Implemented in #26 and #33.

[2017-06-02 09:19] #27 closed

[2017-06-02 12:27] JohanMabille opened #34 "Implement wrappers for unsigned integers"
This is a requirement for logarithm functions.

[2017-06-02 16:28] JohanMabille commented on #34
Actually log can be implemented without unsigned integers.

[2017-06-02 16:28] #34 closed

[2017-06-03 07:57] ghisvail commented on #32
So I am guessing version 3.0 will be the one I should consider packaging in the future, right?

[2017-06-04 13:38] JohanMabille commented on #32
Yes.

[2017-06-05 12:45] JohanMabille commented on #28
Implemented in #35.

[2017-06-05 12:45] #28 closed

[2017-06-07 23:36] JohanMabille commented on #29
Implemented in #37 and #38.

[2017-06-07 23:36] #29 closed

[2017-06-08 12:17] JohanMabille opened #40 "Implement power functions"
Power functions:

- [x] pow
- [x] cbrt
- [x] hypot

sqrt has its specific intrinsics.

[2017-06-08 12:48] JohanMabille opened #41 "Implement classification functions"
Classification functions:

- [x] isfinite
- [x] isinf
- [x] isnan

[2017-06-08 14:24] JohanMabille commented on #30
Implemented in #39.

[2017-06-08 14:24] #30 closed

[2017-06-09 08:21] JohanMabille commented on #41
Implemented in #42.

[2017-06-09 08:21] #41 closed

[2017-06-13 05:27] JohanMabille commented on #40
Implemented in #43.

[2017-06-13 05:27] #40 closed

[2017-06-13 08:29] JohanMabille opened #44 "Implement missing basic functions"
Basi functions which are missing:

- [x] fmod
- [x] remainder
- [x] fdim
- [x] clip

[2017-06-14 11:30] JohanMabille commented on #31
Implemented in #45

[2017-06-14 11:30] #31 closed

[2017-06-14 16:03] JohanMabille commented on #44
Implemented in #46

[2017-06-14 16:03] #44 closed

[2017-06-15 09:05] #32 closed

[2017-07-09 21:05] wolfv opened #58 "is_nan vs isnan"
In the STL it's `std::isnan` and it's also `xsimd::isinf`.
So is there a reason for `xsimd::is_nan` or would it make sense to rename it to `xsimd::isnan` to adhere to STL and unify the xsimd interface?

[2017-07-09 21:55] JohanMabille commented on #58
Good catch! Indeed that's mistake, it should be renamed into ` xsimd::isnan`

[2017-07-10 16:17] #58 closed

[2017-07-10 21:27] jbarnett8 opened #60 "Compiling Simple Test Program"
Hello!

I tried compiling the simple test program you include in your documentation

[code]

I compile using
`g++ -std=c++14 -o out -I xsimd/include/ main.cpp`
where gcc is version 5.4.1 .

I get the following error

[code]
I'm sure it's something simple I'm missing.

Thanks!

[2017-07-10 21:51] JohanMabille commented on #60
You're not missing anything, it is a typo in xsimd. We did not detect it since it happens only when SSE4.1 is not available, which is not the case for the processors used for the CI.

Thanks for catching it! I make a fix asap.

[2017-07-10 22:14] #60 closed

[2017-07-11 14:45] ghisvail opened #63 "Testing fails on Debian"
Using version `3.0.1` + fix for select, here is the output from the tests:

[code]

[2017-07-11 15:18] JohanMabille commented on #63
Which version of gcc are you using ?
I will update tests so they provide more uselfull outputs.

[2017-07-11 15:23] ghisvail commented on #63
`6.4.0`

[2017-07-13 15:59] ghisvail commented on #63
@JohanMabille Were you able to reproduce this?

[2017-07-13 16:09] JohanMabille commented on #63
@ghisvail sorry I'm very busy with `xeus`. I don't have gcc 6 on my machines, so I hope travis will catch the error. I should have more time to deal with this problem this week end.

[2017-07-15 10:20] JohanMabille commented on #63
@ghisvail I've added gcc 6 in the matrix test, unfortunately travis uses gcc 6.2 and tests are ok with it. I've added more detailed to the console output when tests fail (on master), could you give me the output you get with GCC 6.4 ?

Also quick question, do you patch the cmake so it uses different compilation flags ? If so could you post them here ?

Last question, is it easy for you to test wit

[2017-07-15 11:08] ghisvail commented on #63
I'll run a test build on debomatic and forward you the build log, which should answer most of your questions. Regarding `gcc`, I can only test with the current version on `unstable` (`6.4.0` at the moment, `7.x` soon).

[2017-09-11 08:27] lorenzhs commented on #63
Cannot reproduce on Debian unstable on master with gcc version 6.4.0 20170820 (Debian 6.4.0-4)

[2017-09-11 09:20] JohanMabille commented on #63
@lorenzhs thanks for testing!

It looks that the differences may come from a specific instruction set. I'm adding a log (both in file and console) that prints the instruction set used.

[2017-09-11 09:25] ghisvail commented on #63
I have not tried since, and things probably got moving quite a bit in testing / unstable.

[2017-09-11 11:20] lorenzhs commented on #63
I was testing on an i7-4790T (AVX2) machine, for the record.

[2017-11-20 14:50] wolfv opened #75 "mm_malloc.h missing on Raspberry Pi V2/B"
We probably need to detect ARM or 32bit better.

[2017-12-05 12:15] wolfv opened #76 "Make xaligned_malloc default"
I have benchmarked `posix_memalign` and `_mm_malloc`, and they are quite a bit slower for 32 bit alignments than the `xaligned_malloc/free`.

Or we could enable/disable them by some compile time flags?

[2017-12-05 12:16] wolfv commented on #76
Benchmarks on my machine:

[code]

[2017-12-12 05:15] JohanMabille commented on #76
Fixed in #77

[2017-12-12 05:15] #76 closed

[2017-12-12 05:16] JohanMabille commented on #75
Fixed in #77

[2017-12-12 05:16] #75 closed

[2018-01-19 13:27] ninnghazad opened #79 "Aligned Pool Allocator"
An aligned pool allocator that keeps memory around until explicit flush/cleanup would be a nice additional feature.

[2018-03-19 08:14] JohanMabille opened #83 "operator<< and operator>> implementation"
The current implementations of this operators rely on `operator[]` and separately operates on elements of a batch.
This should be refactored with specifics intrinsics for better performances.

[2018-03-19 14:53] JohanMabille opened #84 "Add batch_traits for batch_bool"

[2018-03-21 16:09] #84 closed

[2018-03-27 13:37] JohanMabille opened #90 "Add constructors from intializer lists and helpers"
Batch constructor taking an initializer list should be available. Helpers allowing to build batches from initializer lists without knowing their real type should be implemented too.

[2018-03-27 13:42] serge-sans-paille commented on #90
For the record, something similar (using boost.simd syntax) works just fine for my use case

[code]

called as

[code]

[2018-03-27 14:47] SylvainCorlay opened #91 "Update documentation to include support for neon instruction set"

[2018-04-03 14:18] ukoethe opened #92 "batch<float, 8>::store_unaligned() segfaults"
In `xsimd_avx_float.hpp`, the function `batch<float, 8>::store_unaligned()` calls the aligned intrinsic `_mm256_store_ps()` instead of the unaligned `_mm256_storeu_ps()`, leading to a segfault when the address is actually unaligned. I didn't check if the same problem occurs for other types.

[2018-04-03 15:29] #92 closed

[2018-04-03 15:30] JohanMabille commented on #92
Thanks for the report! That should work now (I fixed it in other batches too).

[2018-04-03 16:05] JohanMabille commented on #91
Done.

[2018-04-03 16:05] #91 closed

[2018-04-03 16:41] ukoethe commented on #92
Yes, works. Thanks!

[2018-05-01 17:48] HadrienG2 opened #95 "Could not find batch reducers on ReadTheDocs"
Maybe that's because the search box is currently broken. But I did not find documentation for hadd and other batch reducers on [ReadTheDocs](https://xsimd.readthedocs.io/en/latest/api/xsimd_batch.html), even though I expected it to be generated from [this Doxygen](https://github.com/QuantStack/xsimd/blob/2f2e8dff874776a58c4621e894895fa3349db33b/docs/source/api/xsimd_batch.hpp#L533).

[2018-05-01 17:52] HadrienG2 opened #96 "Documentation search bar is broken"
For some reason, the ReadTheDocs documentation does not have a working search index yet. That is sad, as it is a _very_ important feature for finding functions in the docs when one doesn't know how the docs are organized.

P.S. This issue likely also affects other QuantStack projects using the same doc generation toolchain.

[2018-05-01 21:56] HadrienG2 opened #97 "A version of select() with a compile-time mask would be nice"
At least on x86, the fastest intrinsics for shuffling the contents of a vector or blending data from two vectors take an immediate operand, which must be a compile-time constant. So there would be a use case for a compile-time version of xsimd::select(), as it could use these faster instructions.

An example of prior art for this is the shuffle() instruction family in bSIMD:

* https://developer.n

[2018-05-01 23:51] HadrienG2 commented on #97
After some experimenting, I realized that this would also require a sizeable fraction of batch_bool to be constexpr, which is not straightforward to do in the current design (which e.g. calls SIMD intrinsics in constructors).

Maybe a dedicated type would be needed for compile-time flags, in addition to batch_bool for run-time flags. How nasty...

[2018-05-02 07:14] HadrienG2 opened #98 "load_[un]aligned and store_[un]aligned free functions only work on the largest vector width"
I am not sure if this is a bug or feature, but there is no way to do a load/store of a vector which is smaller than the native vector width (e.g. a 128-bit batch<float, 4> on AVX) using the free function interface from xsimd/xsimd.hpp.

The way the current interface works, one has to use the constructor/method syntax for this kind of loads and stores.

[2018-05-02 08:19] HadrienG2 commented on #96
@slel found a possibly related issue in the new ReadTheDocs theme: https://github.com/rtfd/readthedocs.org/issues/4026 .

[2018-05-02 12:50] HadrienG2 commented on #96
It's working now :) Just flush caches & reload the page.

[2018-05-02 12:50] #96 closed

[2018-05-03 22:39] HadrienG2 opened #102 "Benchmark prints a "neon" result (presumably SSE) on an x86 machine"
~I think the tile says it all :)~

When running "make/ninja xbenchmark" on my Haswell-based machine, a pair of "neon" rows is present in the table of timings, even though this CPU certainly has no neon instructions available.

[2018-05-04 08:11] wolfv commented on #97
[code]

this is my initial draft of what this could look like.

Good thing is that there is an automatic fallback to the "slower" select.

[2018-05-04 09:07] HadrienG2 opened #103 "Unit tests should exercise constructors"
So, I tried to integrate #100 in my project to see if it solves the problem it's intended to solve, and I discovered a bunch of issues related to constructors of batch and batch_bool. This means that we don't yet have unit tests for them.

[2018-05-04 10:52] #95 closed

[2018-05-04 12:53] HadrienG2 commented on #103
# Constructors to be tested

## batch_bool

- Default constructor
- Explicit broadcasting constructor from a bool
- Constructor from a list of bools
- Converting to inner type + copy constructor

## batch

- Default constructor
- Explicit broadcasting constructor from a scalar
- Constructor from a list of scalars
- Constructor from a pointer (explicit, aligned, and unaligned)
- Converting to inner

[2018-05-04 20:05] HadrienG2 commented on #102
That... was a different bug! :face_with_head_bandage: Will teach me to write descriptions in my tickets...

The bug which I am actually observing is that on my Haswell-based machine, a pair of "neon" rows is present in the table of timings, even though this CPU certainly has no neon instructions available.

[2018-05-04 21:05] HadrienG2 commented on #97
Here is a version annotated with my reading notes:

[code]

TL;DR I like your fallback to run-time select, but your overloads of compile-time select are incorrect. On SSE 4.1+ and AVX, you can use the "blend" family of intrinsics to implement the operation, and on older processors, there does not seem to be a way to leverage compile-time knowledge of the mask so you should let the run-time select

[2018-05-04 21:25] HadrienG2 commented on #90
Since you know the length at compile time, shouldn't you take an std::array<bool, N> instead of an initializer_list? Seems to me that it would avoid brace initialization confusion with the constructor taking N booleans...

[2018-05-06 09:26] wolfv opened #106 "scatter and gather instructions"
It could be interesting to support intels scatter and gather instructions (however, scatter does seem to be available only since AVX512).

[2018-05-06 09:30] wolfv opened #107 "Implement transpose"
We should implement a transpose operation to transpose NxN matrix blocks (where N is batch width).
The interface should probably look like the one for haddp, e.g. taking a pointer of rows.

[code]

[2018-05-06 09:31] wolfv commented on #107
Note MIPP has very readable implementations for this. https://github.com/aff3ct/MIPP

[2018-05-06 09:32] wolfv opened #108 "Implement cumulative sum/prod ... using SIMD"
We have a prototype for a cumulative sum using xsimd here: https://gist.github.com/jpivarski/b2a04778124e7dc790d87fcdfd399e1e/

We should work to integrate it into the library.

[2018-05-06 13:47] wolfv commented on #97
Ok, here is the second proposal ;)

[code]

[2018-05-06 13:55] wolfv commented on #97
optionally we could also use/support this syntax: `select<1, 1, 1, 1, 0, 0, 0, 0>(a, b)` to make us "immune" against streaming vector extensions ...

[2018-05-07 14:04] HadrienG2 commented on #106
It's actually even an extension of AVX-512 which was not there on day one :)

But yes, you may want to support it, especially since it has been supported for a long while in the non-Intel world (from the 1st-gen Crays to GPUs).

[2018-05-09 08:56] HadrienG2 commented on #97
That looks pretty nice!

One question which I would have is, why do Intel propose multiple versions of the blend intrinsic for different data types (_ps, _pd, _epi32)? Is it just for programmer convenience, or can it have an impact on the generated code?

In the former case, your bitwise_cast solution is the right one, as it avoids more code duplication between int32/float and int64/double than we

[2018-05-09 09:01] HadrienG2 commented on #97
Another question, considering the construction of immediates. The current design is quite specialized for blend/select use cases. Do we expect to have other use for boolean mask immediates in the future?

If not, it is best to keep a specialized design, which is easier to understand. If yes, we may want to devise a more general construct for building boolean immediates. Besides the two approach th

[2018-05-28 07:30] JohanMabille commented on #63
Closing this since the problem has not been reproduced.

[2018-05-28 07:30] #63 closed

[2018-05-29 23:20] bluescarni opened #116 "AVX512 plans?"
Hello xsimd developers,

I was wondering if you have any timeline on AVX512 support?

I recently gained access to a Skylake-AVX512 Xeon server, and wanted to test out how the new instructions would fare on my xsimd-enhanced libraries. I went ahead and hacked together some very preliminary support for AVX512 in xsimd which is nevertheless sufficient for some initial experiments (single-precision fl

[2018-05-30 05:50] SylvainCorlay commented on #116
Hey @bluescarni thanks for posting. We do plan on supporting AVX512. There is ongoing work on this being done this week! You can check out https://github.com/QuantStack/xsimd/pull/101 for more details.

If you have experience with AVX512 and this type of work, don't hesitate to comment on the implementation.

[2018-05-30 06:51] wolfv commented on #116
Would you like to review my PR? https://github.com/QuantStack/xsimd/pull/101

It's almost done, I'm working on fixing all the tests today (basic and basic math already passing) and then it should be merged probably tomorrow!

I'll also take a look at yours to find if there are some ideas! One difference is the way we implemented the batch book (i am keeping the "mask")

Cheers and looking forward!

[2018-05-30 18:28] wolfv opened #117 "Current batch_bool<float/double> equality operator on SSE/AVX wrong"
We're using a __m256d floating point type to store the batch bool for float/double in SSE and AVX and do equality comparison using variants of `mm_cmp_pd/ps(...)`

The problem is that theses functions check for `NaN` as `NaN`s are incomparable -- and you can select a mode to get to a desired result (e.g. ordered comparsion results in NaN and number to be false or whatever).

The other fact is that

[2018-05-30 18:29] wolfv commented on #117
also -- let's all remember together with this issue to re-activate the disabled tests that are in the process of being added with AVX512 :)

[2018-06-04 15:16] wolfv commented on #107
Also implementations available in PacketMath of Eigen3.

[2018-06-05 13:09] wolfv opened #119 "Add tests for haddp"
Currently haddp is untested (and unused).

[2018-06-05 13:10] wolfv commented on #117
closed by #118

[2018-06-08 07:08] JohanMabille commented on #98
It's something we've been thinking of for a while, but we didn't have the time to implement it yet. This indeed requires some changes in the interface of `xsimd/xsimd.hpp`.

We plan to implement that for next release.

[2018-06-11 17:26] wolfv opened #121 "Add arange"
SIMDified arange can give a ~4x improvement about `std::iota` and for loops.

[2018-06-11 17:31] wolfv commented on #121
The algorithm would be extremely simple:

[code]

needs some adjustments for step size but should all be fairly straightforward.

[2018-06-12 08:16] JohanMabille opened #122 "Wrong simd_return_type with complex"
The issue is fully described [here](https://github.com/QuantStack/xtensor/issues/912)

[2018-06-12 09:32] #122 closed

[2018-06-15 13:12] emmenlau opened #125 "Can not build with Intel Compiler on MSVC because cmake fails"
Currently the build fails for me with the latest Intel Compiler on MSVC (and Visual Studio 2015). The build aborts in cmake configuration with error
[code]
I assume the detection is not perfect, because the Intel Compiler has support for `C++11`. Is there anything I can do to help?

[2018-06-15 13:21] SylvainCorlay commented on #125
Hey @emmenlau, thanks for reporting. I don't think that any of us has experience with the intel compiler, but from your report, it seems that it would require us to special case  for that compiler in the  CMakeLists https://github.com/QuantStack/xsimd/blob/master/test/CMakeLists.txt#L37

[2018-06-15 13:40] emmenlau commented on #125
Dear Sylvain, I agree that this looks suspicious. Actually looking at the code, I think that the `if ... OR CMAKE_CXX_COMPILER_ID MATCHES "Intel"` is written specifically for the Intel Compiler on Unix/Linux. AFAIK on MSVC there is no need for specific options to enable `C++11`, neither for MSVC nor for the Intel Compiler. But since I'm no expert on Windows builds, please take my words with a grai

[2018-06-20 08:33] JohanMabille commented on #125
@emmenlau indeed no flag is required on windows to get C++11 / C++14 support enabled

[2018-06-20 08:50] JohanMabille commented on #125
The issue was closed due to the merge of #127, however since I'm not sure that everything is fine in the cmake for Intel on Windows, I reopen it until @emmenlau confirms everything is fine.

[2018-06-20 09:41] emmenlau commented on #125
Dear @JohanMabille , is it fine if I wait for the next release before testing it? Its slightly easier with my cross-platform build system. Is the next release to be expected soon?

[2018-06-20 10:36] JohanMabille commented on #125
No problem, the next release should be out next week when the support for complex has been integrated.

[2018-06-23 08:30] wolfv opened #129 "Implement missing operator%"
We need the modulo operator in xsimd for operations in xtensor.

[2018-06-23 10:35] wolfv commented on #129
After thinking about it and looking at other libraries, I think integer division & modulo should either be polyfills (falling back to scalar code) or removed from the library (which should be detected in xtensor, and then fall back).

[2018-06-26 16:59] #129 closed

[2018-06-26 17:00] wolfv commented on #129
done in #130

[2018-06-26 17:01] wolfv opened #131 "Add unsigned char / signed char batches"
@iamthebot finally run into our missing support for char loading.

So we need to add support to this ASAP.

[2018-06-27 13:33] wolfv opened #132 "Use _mm256_cvttps_epi32 instead of _mm256_cvtps_epi32 everywhere"
`cvttps` uses truncation and

`3/5 == 0` becomes true which seems to be the default behavior in C++

[2018-07-04 12:55] JohanMabille opened #138 "NEON intrinsics for complex<float>"
power, trigonometric and hyperbolic tests are failing for NEON instructions because of potential truncation.

[2018-07-04 12:58] JohanMabille opened #139 "exp / log / pow for complex<float>"
`pow` of `complex<float>` has some accuracy issues with AVX512.

[2018-07-04 13:07] JohanMabille opened #140 "add a sincos method"
Some of the mathematical functions need both the sine and the cosine of their argument. Since these functions share some steps in their computation (among them, the reduction), a sincos method computing both sine and cosine in a single pass may improve performances.

[2018-07-04 14:01] #140 closed

[2018-07-07 10:45] JohanMabille commented on #125
@emmenlau We just release xsimd 6.0.0, let us know if the compilation on Windows with Intel is fine now.

[2018-07-07 13:01] emmenlau commented on #125
Great, yes its fixed now. I still get a similar error for xtensor but I will report it there.

[2018-07-07 13:01] #125 closed

[2018-07-10 09:24] wolfv opened #147 "Remove need for -flax-vector-types on ARM/GCC"
char loading to other batches currently makes use of lax conversion enabled by default on clang (apparently).
We should remove the need to enable this compiler flag on GCC so that it compiles without hassle (by using static casts where appropriate).

[2018-07-20 19:33] #131 closed

[2018-08-09 00:16] OneRaynyDay opened #156 "xsimd includes cause failure for specific arch"
I included `xsimd.hpp` from cloning the repo, then going into includes, and making a `main.cpp` at the same path:

[code]

and it fails with the following error when I try to compile:

[code]

Here is my system information:

[code]

[code]

[code]

[2018-08-15 10:21] serge-sans-paille opened #158 "std::nextafter"
For API completness, it would be great to have support for [nextafter](https://en.cppreference.com/w/cpp/numeric/math/nextafter)

[2018-08-18 12:41] serge-sans-paille commented on #158
Boost.simd reference implementation: https://github.com/JohanMabille/boost.simd/blob/develop/include/boost/simd/arch/common/simd/function/nextafter.hpp

[2018-08-19 08:41] serge-sans-paille opened #161 "batch<uint32_t, ...> and batch <uint64_t, ...>"
There is support for a batch of ``int32_t``, but nothing for ``uint32_t``. Same applies to ``uint64_t``.

[2018-08-19 09:55] serge-sans-paille commented on #161
Same holds for ``batch<int16_t,...>`` and probably others.

[2018-08-19 11:55] wolfv commented on #161
The missing ones are

int16, uint16, uint32, uint64

However, we should be able to move quickly on those (at least for intel) because we have these new int base classes:

https://github.com/QuantStack/xsimd/blob/master/include/xsimd/types/xsimd_avx_int8.hpp#L136

[2018-08-29 13:20] JohanMabille opened #166 "Mathematical functions should accept integral type"
Mathematical functions of `xsimd` should accept integral types when their standard counterparts do.

[2018-09-09 22:29] wolfv opened #173 "Test failures for old Intel arch"
There are some small failures with loading 64bit integers from char for `-arch=nocona`

[code]

and

[code]

[2018-09-12 14:43] JohanMabille commented on #161
This has been impleented in #171

[2018-09-12 14:43] #161 closed

[2018-09-17 09:53] wolfv opened #176 "Missing int types for NEON and AVX512"
We still need to implement the `int16, uint16, uint32, uint64` for AVX512 and ARM NEON.

[2018-09-21 20:00] jpcima opened #178 "Macro definition __LITTLE_ENDIAN breaks the build"
The source file `xsimd_rem_pio2.hpp` defines the macro `__LITTLE_ENDIAN` under some conditions.

If such a condition is met on Linux systems, as I was told it could happen under Debian package building environment, the macro can redefine the system's definition in `endian.h`.

This can result in a failure in a following conditional such as this:
`#       if defined(__LITTLE_ENDIAN) && (__BYTE_ORDE

[2018-09-28 21:55] serge-sans-paille opened #184 "Missing xsimd implementation for some complex operations"
According to the Pythran test suite, the following math noperators miss their xsimd version for complex vector arguments:

- conj
- floor
- exp
- expm1
- log
- log1p
- log2
- conj
- arctan
- sign

Given that numpy gives them a semantic, it also applies to:

- fmax
- fmin
- max
- min

On the positive note, all arithmetic operators seem to work just fine!

[2018-10-03 15:45] JohanMabille commented on #184
The following operations are already implemented (and tested) in `xsimd/math/xsimd_math_complex.hpp` :

- conj
- floor
- exp
- log
- log2
- atan

The following are missing:

- expm1
- log1p
- log2
- sign

`xsimd/math/xsimd_math_complex.hpp` is included in `xsimd.hpp` only, but I guess you are using lower level APIs of xsimd, so this might be a missing include?

[2018-10-04 13:45] serge-sans-paille commented on #184
I'm not using lower APIs :-/ The missing symbol is ``undefined symbol: _ZN5xsimd5floorISt7complexIdELm4EEENS_5batchIT_XT0_EEERKS5_``, if that can help.

[2018-10-04 19:06] serge-sans-paille opened #191 "Invalid atan behavior in vector mode"
Running the following code clearly showcase the issue:

[code]

Once compiled (avx inside) Iget

[code]

[2018-10-04 19:15] serge-sans-paille commented on #191
Admittedly, few people use atan of complex using limit condition, but for the beauty of it :-)

[2018-10-05 08:27] #184 closed

[2018-10-05 08:51] JohanMabille opened #193 "_mm_packus_epi32 available for SSE4 and higher only"
Using `xsimd` on a architecture that does not support `SSE4` leads to the following error:

[code]

cc @serge-sans-paille

[2018-10-05 10:48] #193 closed

[2018-10-07 06:31] wolfv commented on #158
There seems also to be a implementation in Sleef: https://github.com/shibatch/sleef/blob/86d5c2d6d87b6ecdaff88ec2e1130d62dac6c885/src/libm/sleefdp.c#L2200

[2018-10-08 15:31] JohanMabille commented on #178
Fixed in #179

[2018-10-08 15:31] #178 closed

[2018-10-09 08:51] #158 closed

[2018-10-09 14:01] martinRenou commented on #176
- [x]  int16 AVX512
- [x]  uint16 AVX512
- [x]  uint32 AVX512
- [x]  uint64 AVX512
- [ ]  int16 NEON
- [ ]  uint16 NEON
- [ ]  uint32 NEON
- [ ]  uint64 NEON

[2018-10-10 06:08] serge-sans-paille opened #204 "-m32 support for long int"
see https://godbolt.org/z/7j7hVU for a minimal reproducer.

[2018-10-10 07:56] wolfv commented on #204
Do you need to use long or would int32_t also work?

Otherwise, I guess we could use `sizeof(long) == 4 && std::is_signed<long>` to map to `int32_t` or `int64_t` depending on the architecture.

[2018-10-10 11:06] serge-sans-paille commented on #204
It's not about me, it's about xsimd :-) and my guess is that xsimd should
support long.

Yes!

[2018-10-10 11:29] JohanMabille commented on #204
AFAIK, on 64bits architecure, `long == int64`, on 32 bits architecture `sizeof(long) == 32` but `long != int32_t`. Also `long` is always signed.

So the easiest solution (the one I am implementing) is to have `batch<int32_t, N>` as the `batch_type` for `long` and add the `load/store` overloads in every `batch` for 32-bit ABI.

[2018-10-10 11:44] wolfv commented on #204
But unsigned long might not be signed?

Le 10 oct. 2018 13:29, "Johan Mabille" <notifications@github.com> a écrit :

[2018-10-10 11:59] JohanMabille commented on #204
Indeed, `unsigned long` is unsigned, and will be mapped to `uint32_t` on 32-bit systems.

[2018-10-16 10:03] martinRenou commented on #176
Done!

[2018-10-16 10:03] #176 closed

[2018-10-16 10:34] wolfv commented on #176
**NICE**

[2018-10-19 15:42] JohanMabille opened #216 "Add missing bitwise cast"
Some bitwise casts functions (from and to unsigned integers) are missing.

[2018-11-05 07:20] blackball opened #217 "benchmark codes could not compile in virtualbox since AVX2 is defined but not FMA."
VirtualBox guest system: Ubuntu18.04

It complaints that FMA instructions could not be found. I checked the compiler flags, __AVX2__, __AVX__ are defined but not __FMA__.

[2018-11-05 08:10] JohanMabille commented on #217
Processors supporting **AVX2** are supposed to support **FMA** instructions too, so VirtualBox might provide different headers that we don't include. Can you post the error log please?

[2018-11-05 08:30] blackball commented on #217
Yes, you're right, it's from VirtualBox side. But FYI, here are error messages:

[code]

Feel free to close this issue.

[2018-11-05 08:32] #217 closed

[2018-11-25 14:04] wolfv opened #218 "Implement `std::transform` equivalent"

[2018-11-25 14:04] wolfv opened #219 "Implement minimum/maximum reducers"
find minimum / maximum in a batch

[2018-11-26 07:41] wolfv commented on #219
Implementations are here:
https://p12tic.github.io/libsimdpp/v2.2-dev/libsimdpp/w/fp/reduce_min.html

[2018-11-27 07:59] wolfv commented on #219
This is the GCC implementation for AVX 512.

[code]

[2018-11-27 08:52] wolfv commented on #219
true. alternatively this is from clang: https://reviews.llvm.org/D25527

[2018-12-11 11:12] wolfv opened #226 "Create a binder and example notebooks for xsimd"

[2018-12-12 11:50] wolfv opened #228 "Handle loading of bool* correctly"
Currently, it's not possible to load from a bool pointer.

E.g.

[code]

fails with substitution errors.
Now it's actually a question *what* we should do here. Maybe we should map bools to batches with sizeof(bool) elements? batch<char, 8>(bool*)...

[2018-12-12 11:50] wolfv commented on #228
Note I am using uvector here because std::vector uses a bitmask ... :)

[2018-12-13 08:52] wolfv opened #229 "operator< (and others) have no scalar overload"
The operator `<` doesn't have a scalar overload so that one side can be a scalar number.
Is this intentional?

[2018-12-13 08:57] wolfv opened #230 "Add conversion ops between batch_bool<float, N> and batch_bool<int, N>"
They are exactly the same so we could add implicit conversions, which would make things like mixed select statements easier to use.

[2018-12-13 09:39] wolfv opened #231 "store_aligned second parameter should be batch<T, N> not simd_type"
In order to call store_aligned / unaligned in a generic fashion we should make the second parameter also aware of the batch size not being the max batch size (e.g. storing a SSE batch with this function when AVX is available doesn't work right now).

[2018-12-13 09:42] wolfv opened #232 "Add masked store"
tsimd has a nice masked store implementation where the last parameter to `store_aligned` style functions can be a mask.

This dispatches to some special intrinsics for masked stores.

[2018-12-14 09:27] wolfv opened #235 "batch_bool kernel `equal` method"
We shoudl do two things:

1. rename equal method to `eq` so that it matches the regular kernels
2. change the implementation in batch_bool_float kernel to use ! not_equal which is implemented in terms of xor

[2018-12-16 22:36] wolfv commented on #218
it's implemented!

[2018-12-16 22:36] #218 closed

[2018-12-17 07:53] wolfv opened #239 "Implement iterators on batches"
begin / end iterators on a batch are actually easy to implement, in simd_batch:

[code]

[2018-12-17 10:05] #147 closed

[2019-01-04 10:37] JohanMabille commented on #235
1. I think the methods name in the regular kernels match the specific part in the name of the intrinsics used for implementation. So if we rename `equal` into `eq` we should also rename all the other methods. I don't really see a benefit in doing this, what is important is that `batch_bool_kernel<T, N>` implementations are consistent together, it does not really matter if they're not consistent wi

[2019-01-04 11:56] wolfv commented on #235
I agree, functionality wise it won't make a difference -- I just thought it was weird that we have `equal` vs `eq` in batch_bool vs batch kernels, and `not_equal` vs `neq`. I still think renaming this function so that it matches would be slightly nicer.

[2019-01-04 12:02] JohanMabille commented on #235
Ok, but then let's rename other methods so they also match the intrinsics names!

[2019-01-10 10:51] JohanMabille opened #248 "Dropping C++11 support in favor of C++14 support"
We are introducing more and more workarounds in the library to keep support of C++11; besides, `xsimd` depends on parts of the [xtl](https://github.com/QuantStack/xtl) that are C++11-compatible, and this limits the refactoring possibilities of these parts.

I would like the next major release of `xsimd` to be full C++14, is there any blocker in `xsimd` client libraries?

[2019-01-10 10:54] serge-sans-paille commented on #248
it would be a limitation for pythran, as pythran only requires c++11 from the abckend compiler.
The reason why we require that is that we only require gcc5 or clang3.5 as build dependency.

[2019-01-10 11:04] JohanMabille commented on #248
Not sure to get it, from what I know gcc5 and clang 3.5 have full suppor tof C++14.

[2019-01-14 21:14] tdegeus opened #250 "Various compiler errors"
I am getting a bunch of compiler errors with existing code:

[code]

[2019-01-14 22:59] JohanMabille commented on #250
This has to be fixed in xtensor, the call to `reduce` has to be full-qualified, otherwise `xsimd::reduce` can be found via Argument Dependent Lookup because of the default argument `xsimd::detail::plus`.

[this PR](https://github.com/QuantStack/xtensor/pull/1343) fixes the issue.

[2019-01-14 22:59] #250 closed

[2019-01-31 15:47] chriselrod commented on #216
What is the API for the cast functions? They don't seem to be documented.

Conversions between integers is missing, eg:
https://github.com/QuantStack/xsimd/blob/ca75511f497bc8eb178c42db94d3da4d80a8f318/include/xsimd/types/xsimd_avx_conversion.hpp
https://github.com/QuantStack/xsimd/blob/ca75511f497bc8eb178c42db94d3da4d80a8f318/include/xsimd/types/xsimd_avx512_conversion.hpp

Casting between 64 bit

[2019-02-06 14:00] olilarkin opened #260 "Missing casts from batch_bool<T, N>"
Not sure if i am articulating this issue correctly, but it seems from a discussion on gitter that there are some cast options missing to go from batch_bool<T, N> to the underlying simd_batch type

Illustrated by this context, my initial attempt at a parallel sawtooth oscillator

[code]

I was advised to use select instead...
[code]

[2019-02-08 13:11] JohanMabille commented on #230
We already have the `bool_cast` free functions for `float <-> int32` and `double <-> int64` conversions.

[2019-02-08 13:11] #230 closed

[2019-02-08 13:22] #260 closed

[2019-02-08 21:03] wolfv opened #266 "Add rcp and rsqrt"
Approximate reciprocal and reciprocal square root.

Could be useful + tsimd has them

[2019-02-20 13:37] JohanMabille opened #272 "Missing includes / members not recognized"
@ArthurAllshire is getting the following error message when trying to use `xsimd` on ARMv7 (message truncated for readability):

[code]

[2019-02-20 14:05] ArthurAllshire commented on #272
Minimal code to reproduce is simply including xsimd:
[code]
If you want to reproduce my environment and use the same cross compiler I am, you can clone my `ArthurAllshire/roborio-pythran`, check out the `xsimd-crash` branch repository and run `launch.sh` (you need docker installed) and then `crash.sh`.

[2019-02-20 14:07] ArthurAllshire commented on #272
Also, this is not a cross compiler issue- I have gotten the same issue by trying to compile natively in a virtual machine.

[2019-02-25 09:32] wolfv commented on #272
@ArthurAllshire Ok, I think I got it. Sorry that it took so long for us to investigate this issue!

1. Adding `#include "../types/xsimd_base.hpp" to the `xsimd_fp_sign.hpp` header fixes it
2. The `xsimd_base.hpp` is included by each batch type include. However, you're not compiling with SIMD instructions, which disables all batch types, and leads to this error. If you add the following flags to th

[2019-02-26 10:42] wolfv commented on #272
I think this is solved now!

[2019-02-26 10:42] #272 closed

[2019-02-27 08:51] JohanMabille commented on #239
This has been implemented in #269

[2019-02-27 08:51] #239 closed

[2019-03-03 09:36] zhihaoy opened #274 "reduce assumes aligned part always exists"
[code]
r gives -0.0 instead of 15.; if the size of v exceeds a batch then it gives right answer.

[2019-03-06 15:10] blackccpie commented on #231
Hi, is there some kind of workaround for this issue? I must admit this is quite inconvenient in my case, where I want to manage batches of size 4 with an AVX compilation.

thx

[2019-03-06 15:16] wolfv commented on #231
Yes, definitely, you can always call the store aligned member function of the batch!

[code]

[2019-03-06 16:18] blackccpie commented on #231
@wolfv : thanks, that did the trick indeed :-)

[2019-03-07 09:24] wolfv commented on #231
Good to hear. If you want to contribute and open a PR that implements this for the free functions, that would be very appreciated :)

[2019-03-15 10:53] blackccpie commented on #231
@wolfv : Contributing to xsimd would be great, but for now I haven't got enough bandwidth.
Anyway I keep the idea in my mind ;-)
Another feature I would be interested in is having shuffle/permutation capabilities in xsimd.

[2019-04-08 12:58] seertaak opened #276 "Please add conan support for this awesome library"
Hi, while I'm aware that you provide packaged support for `conda`, which is great, as a C++ dev it would make it much easier to use *xsimd* if the library had support for conan. My understanding is that it's very easy (one extra file) to provide this support, especially so for a header-only package. Moreover, the conan team have in my own interactions been very positive -- I'm sure they'll be happ

[2019-04-08 13:22] wolfv commented on #276
would you be interested in adding the support? that would be a great, small + quick PR :)

[2019-04-10 12:35] tdegeus commented on #276
Based on this comment I've been Googling a bit for conan. It too seems quite nice. Am I correct that its major advantage is architecture independent packaging for header-only libraries?

Indeed a PR would be great! I'd be happy to help, but since you, @seertaak, seem to have experience with conan, it would be great if you find a chance to make a start.

[2019-04-10 13:43] seertaak commented on #276
Hi - apologies for the late reply. Before yesterday I actually wrote the `conanfile.py` and it worked on my system. Nothing fancy; I didn't bother about the tests, I just followed their instructions for header-only libraries.

However, I didn't manage to create a PR. I'm off to Berlin until Sunday so it won't be until Monday evening that I get the change to submit it.

[2019-04-10 13:55] tdegeus commented on #276
Great!

(Obviously no worries, your reply is still quiet fast!)

[2019-04-27 19:25] robertodr opened #277 "xsimd with clang-cl"
I'm trying to compile xsimd with clang-cl and I get the following error:
[code]
Any suggestions on a possible fix? This is the bulld log on Azure Pipelines: https://dev.azure.com/robertodr/xismd/_build/results?buildId=71

[2019-04-30 12:18] JohanMabille commented on #277
Does it work if you replace the lines
[code]
with
[code]

[2019-04-30 12:55] #274 closed

[2019-04-30 13:17] robertodr commented on #277
Indeed! Thanks, here is the Azure build log: https://dev.azure.com/robertodr/xismd/_build/results?buildId=76 I'll prepare a PR

[2019-04-30 14:41] JohanMabille commented on #277
Fixed in #280

[2019-04-30 14:41] #277 closed

[2019-04-30 14:42] JohanMabille commented on #277
@robertodr Do you need a release with this fix? Or is it ok for you to work with the master branch?

[2019-04-30 14:49] robertodr commented on #277
A release with conda package would be preferable. I can then submit PRs for xtensor, xtensor-blas, and xtensor-python with clang-cl support.

[2019-04-30 14:52] JohanMabille commented on #277
Ok done ;) Let's wait for the conda bot to open the PR for us.

[2019-04-30 14:54] robertodr commented on #277
Much appreciated! The xtensor and xtensor-blas PRs are next in line.

[2019-05-09 19:15] jpetkau commented on #119
haddp is also broken on most (all?) platforms: it takes `const simd_batch<batch_type>* row` and indexes `row[0]`, `row[1]` etc., but `sizeof(simd_batch<T>)==1` because it's an empty base class, so this ends up offsetting by bytes instead of batches.

[2019-05-13 15:50] JohanMabille commented on #119
Fixed in #282

[2019-05-13 15:50] #119 closed

[2019-05-16 12:46] pzoltowski opened #283 "problem compiling in Xcode ('C' does not refer to a value)"
I tried to integrate xsimd with xcode project but I get the following 2 errors in `xsimd_scalar.hpp`

    namespace detail
    {
        template <class C>
        inline C sign_complex_scalar_impl(const C& v)
        {
            using value_type = typename C::value_type;
            if (v.real())
            {
                return C(sign(v.real()), value_type(0));      //<---- 'C' does not re

[2019-05-18 10:31] SylvainCorlay commented on #283
@pzoltowski does your project or one of its dependencies define a macro called `C`?

[2019-05-18 10:32] SylvainCorlay commented on #283
It looks like it would be the case, in which case it would not be related to xsimd.

[2019-05-22 20:20] paugier opened #284 "Compilation error first example in README"
Trying to compile the first example in the README.md (https://github.com/QuantStack/xsimd#explicit-use-of-an-instruction-set-extension), I get:

[code]

xsimd installed with conda... I guess I'm doing something wrong but what?

[2019-05-23 06:29] JohanMabille commented on #284
Can you check you have AVX instruction set on your system? Also did you build with `-march=native`  flag?

[2019-05-23 07:14] paugier commented on #284
Yes this behavior is obtained on computers with AVX.

No error with `g++ -march=native main.cpp -I $HOME/miniconda3/include`.

[2019-05-23 07:28] JohanMabille commented on #284
NIce! I'll update the README so people don't get this error anymore. Thanks for reporting!

[2019-05-25 14:05] mattip commented on #139
Numpy recently merged support for accelerated simd exp/log for float32 in prs numpy/numpy#13581 and others. We seem to have hit an issue numpy/numpy#13586 with clang 7.0, have you experienced anything similar? Also, it seems glibc 2.27 has quite good support out of the box for avx. What do you think?

[2019-05-30 07:16] yunhua-deng commented on #102
I am curious about this issue too, but there is still no answer after 1 year?
Here is `xsimd_benchmark`'s output, which shows neon rows, even though it is on x86 machine.
[code]

[2019-05-30 12:40] SylvainCorlay commented on #102
Yep, this is very strange. This isssue fell between the cracks as it was closed by mistake.

[2019-05-30 12:43] SylvainCorlay commented on #139
Hey Matti, nice to see you here. Sorry for the late reply. We will definitely look into this numpy issue.

[2019-06-01 18:10] nick-dumas opened #286 "Wrong size for char* overwrite"
For the types specified in:
xsimd_avx_double.hpp, xsimd_sse_float.hpp and xsimd_sse_int32.hpp

The SSE method `store_aligned_int32(uint8_t* dst)` (and similar) stores using the function `_mm_storel_epi64`.
As this is a batch of 4 values, and each value will be saved to a single byte, this is 32 bits not 64 bits.
I believe the correct function should be `_mm_cvtsi128_si32` or `_mm_storeu_si32`.

[2019-06-03 02:10] JohanMabille commented on #284
The README has been updated, this can be colsed.

[2019-06-03 02:10] #284 closed

[2019-06-07 21:11] amahoneyLIT opened #287 "compilation errors on Raspberry Pi"
I'm trying to use XTENSOR_USE_XSIMD in my project, which otherwise compiles and runs fine on a Raspberry Pi 3B+ with up to date Raspbian Stretch

Using
- xtensor master
- xtl 0.6.4
- xsimd 7.2.3

The first error I get is

[code]

which is strange because I've tried both `-mfpu=neon` and `-mfpu=neon-vfpv4`

Any ideas?

[2019-06-08 07:57] wolfv commented on #287
are you cross-compiling? If not, `-march=native` should probably also work.

[2019-06-08 17:23] amahoneyLIT commented on #287
I am not cross compiling. Thanks I will try this.

On Sat, Jun 8, 2019, 12:57 AM Wolf Vollprecht <notifications@github.com>
wrote:

[2019-06-10 15:11] amahoneyLIT commented on #287
I am getting the same error trying `-march=native` with and without `-mfpu=neon`

[2019-06-10 15:49] amahoneyLIT commented on #287
getting closer by using flags from https://gist.github.com/fm4dd/c663217935dc17f0fc73c9c81b0aa845

`-mcpu=cortex-a53 -mfloat-abi=hard -mfpu=neon-fp-armv8 -mneon-for-64bits`

and I get only 3 errors now
[code]

will poke at these flags some more

[2019-06-11 07:33] wolfv commented on #287
This might now be a problem from our side, if the type or type conversion is not correctly implemented...

Can you try with only integer for example?

[2019-06-11 17:20] amahoneyLIT commented on #287
Based on those errors sounding integer-ish, maybe you meant the opposite - I tried removing all the integer arrays from my code, including
- xarray<unsigned long>
- xarray<unsigned long long>
- xarray<size_t>

and now it compiles.

[2019-06-12 07:26] wolfv commented on #287
hey, cool, that's good to hear.

we should keep this issue open to investigate in the future. it might be related to 64-bit integers and the NEON version.

[2019-06-12 07:45] JohanMabille commented on #287
Out of curiosity, since you're compiling on a 32bit system, can you print the results of the following:

[code]

[2019-06-12 09:26] omaralvarez commented on #276
If there are any problems I can help @seertaak , I also want to use it with conan and have experience creating conan packages.

[2019-06-12 09:28] wolfv commented on #276
If @seertaak hasn't started to push this to some conan repository, i think it's fine if you take the initiative here @omaralvarez.

[2019-06-12 18:24] amahoneyLIT commented on #287
@JohanMabille the second check does not compile
[code]

commenting that out, the rest of the output is
[code]

[2019-06-18 07:37] omaralvarez commented on #276
I have made a simple version on a separate repo so that Conan packaging is not mixed with the lib code. Easier to maintain for me, but please let me know if you prefer integrating it in the xsimd repo.

https://github.com/omaralvarez/conan-xsimd

Working on a readme right now.

I could add a pull request of your README.md to add instructions on how to use Conan.

[2019-06-18 08:28] JohanMabille commented on #276
@omaralvarez Awesome! Keeping the code for packaging in dedicated repos is indeed better than mixing it with the lib code, that's already what we do for conda packages.

We are definitely interested in a PR to update the README with instructions for Conan installations (and a link to your repo ;)).

[2019-06-21 08:08] omaralvarez commented on #276
@JohanMabille Done! #288

[2019-06-28 13:00] hroncok opened #289 "Tests build failures on armv7hl, ppc64le, s390x"
Hey, I'm trying to package xsimd for Fedora and I have weird failures on armv7hl, ppc64le and s390x architectures.

I run basically:

[code]

ppc64le says: `unrecognized command line option '-march=native'`

armv7hl and s390x have more failures:

[code]

Note that there is "Please compile with SIMD instructions enabled or activate the fallback mode. (e.g. for x86 -march=native or for ARM -mfpu=neo

[2019-06-28 13:34] JohanMabille commented on #289
@hroncok thanks for reporting!
@serge-sans-paille indeed it seems we need to improve both the architecture detection and the error message.
I'll have a look later in the afternoon, I have some tasks to finish before I can do that.

[2019-06-28 17:08] ojwoodford opened #290 "Feature request: within vector reductions"
I could not find any mention of doing within vector reductions, or equally transposing blocks of vectors to make such reductions vectorizable.

If I am summing a long list of values (or doing a large dot product, or any other kind of reduction), I can efficiently reduce a block at a time into a SIMD vector. Then at the end I'll need to run the reduction (+, *, min, max, whatever) within the vector

[2019-06-29 06:39] wolfv commented on #290
So far we only have an implementation of the std::reduce interface (https://github.com/QuantStack/xsimd/blob/master/include/xsimd/stl/algorithms.hpp#L144)

Furthermore, we implemented some of the ideas you mention in xtensor (https://github.com/QuantStack/xtensor) where we have a general framework for reducers.
However, these reducers are not yet using explicit SIMD instructions (rather trusting t

[2019-07-03 00:09] ojwoodford commented on #290
Thanks. The reduce algorithm implementation in xsimd is a useful baseline implementation.

A useful function would be:
template <typename Scalar>
std::array<Scalar, 4> batch_sum(batch_type a, batch_type b, batch_type c, batch_type d);
such that the first element of the output is the sum of elements in a, etc.
You could have functions for 2, 4 and 8 inputs, and also equivalent batch_prod functions.

[2019-07-03 06:32] ojwoodford commented on #290
Actually, you already have the in-vector reductions I was asking about, at least for summing, `hadd` and `haddp`:
https://github.com/QuantStack/xsimd/blob/dde445fe36a2bc218e170408a4c48dab40833e0f/include/xsimd/types/xsimd_sse_float.hpp#L637
However, I find that there is a significant time penalty associated with having an array of blocks (required so as to pass haddp a pointer to the array) versus

[2019-07-03 08:20] JohanMabille commented on #290
The thing is the number of accepted batches depends on your instruction set. If you want to write client code independent from that, you have to push them in a container, otherwise you need to rely on other technics to avoid compilation errors:

[code]

It's even worst if you want to write it for many vlaue types: since partial specialization of functions is illegal, you have to wrap the `sum_buff

[2019-07-03 14:39] JohanMabille commented on #289
Actually the test suite cannot be built if no SIMD instruction set is available.
I'm working on a fix so that even if the architecture detection fails, the test suite can be run.

Regarding PPC, we do not support its SIMD instruction set yet, so it is expected to get the warning.
I am more concerned regarding the wrond detection on ARMv7 architecture, it should work. Do you cross compile or do you

[2019-07-03 14:43] hroncok commented on #289
See the hw_info.logs - we build on such architecture.

[2019-07-03 15:24] JohanMabille commented on #289
I have  added the ability to force the the instruction set via cmake in #292. Once it is merge, can you try to build master with the following:

[code]

If you cannot build master and need a release, let me know, I will tag a new one.

[2019-07-03 16:18] hroncok commented on #289
I'll try to use that as a patch. No need to merge yet, let me test it first.

[2019-07-03 17:22] ojwoodford commented on #290
Yes, I see that. But for the algorithms I was envisaging, you'd know the number of batches, if not the batch size.

For now I'm just fixing on batch<ScalarType, 4>, and it works as desired.

[2019-07-03 17:44] hroncok commented on #289
https://github.com/QuantStack/xsimd/pull/292 with `-DXSIMD_FORCE_ARM_INSTR_SET=70000000` works. thanks

[2019-07-03 18:23] JohanMabille commented on #289
Great! So we definitely have a detection problem, I need to figure it out.

I'm gonna release a new version, we definitely need the fix of the test suite, and I will investigate the arm problem after.

[2019-07-03 21:27] ojwoodford opened #293 "Neon compilation bug"
There are bugs in several of your load_unaligned/store_unaligned function implementations. They call themselves, instead of the aligned version, causing an infinite recursion.

[code]

[2019-07-03 21:46] ojwoodford commented on #293
This also suggests to me that your build tests don't catch this as an error, when they probably should.

[2019-07-04 07:26] wolfv commented on #293
indeed, thanks! they should call `store_unaligned`...

[2019-07-04 08:17] JohanMabille commented on #293
Fixed in #294

[2019-07-04 08:17] #293 closed

[2019-07-04 10:42] JohanMabille opened #295 "Neon not detected on armv7hl"
As reported in #289, neon instruction set is not detected when building on armv7hl.
A workaround is  `#define XSIMD_FORCE_ARM_INSTR_SET = 70000000` before including any header of xsimd.

[2019-07-04 10:43] JohanMabille commented on #289
Closing this one since the test suite now builds fine, I opened a dedicated issue for the neon detection problem.

[2019-07-04 10:45] hroncok commented on #289
just to be clear, this means I can build xsimd on all arched? does it however make sense to ship it on platforms where it fails?

[2019-07-04 10:52] JohanMabille commented on #289
Indeed, this means the test suite can be built on any architecture, even the ones that do not provide SIMD instructions. For an unknown reason, the detection of instruction set fails on armv7hl.

I think it makes sense to ship it on ARM achitecture, since we are going to investigate and fix the issue. Regarding IBM architectures, we do not plan to support the PPC instruction set in the near future

[2019-07-04 10:54] hroncok commented on #289
Thanks.

[2019-07-04 11:09] serge-sans-paille commented on #289
@JohanMabille : the scalar hear are still valid for all architectures right? They're not the major feature of xsimd, but the interoperability layer they provide is already a good thing on its own.

[2019-07-04 11:10] serge-sans-paille commented on #289
Said otherwise, pythran in salar mode, once it compiles find on the above arch, still needs the xsimd dep.

[2019-07-04 11:23] JohanMabille commented on #289
@serge-sans-paille yes the scalar and the fallback instructions are still available, so actually I will change my previous statement, xsimd shoudl be shiped to all architectures, even if we do not support their provided SIMD instruction set.

[2019-07-04 11:49] hroncok commented on #289
ack. the build failed on ppc64le but succeeded on s390x

[ppc64le.build.log](https://github.com/QuantStack/xsimd/files/3359122/ppc64le.build.log)

[2019-07-04 13:51] JohanMabille commented on #289
@hroncok I tried to fix the issue, however I have no mean to test on PPC architecture, could you check that #296 builds fine?

Thanks!

[2019-07-04 14:55] #289 closed

[2019-07-20 08:41] longnguyen2004 opened #297 "Use std::allocator_traits<void> instead of std::allocator<void>"
Most of the member types and functions in std::allocator is deprecated in C++17 and will be removed in C++20, so we should move on to std::allocator_traits instead

[2019-07-20 23:46] SylvainCorlay commented on #297
Thanks for the heads up!

[2019-07-30 08:15] skeletonyk opened #300 "Compiling error"
I got this compiling error when trying to compile with c++17 standard.  it seems to have problem with the redefinition of ` size_t get_alignment_offset` and `inline size_t get_alignment_offset`? Am I doing anything wrong? Thanks.

`
/home/kyu/lib/xsimd-7.2.5/prefix/include/xsimd/memory/xsimd_aligned_allocator.hpp:313:19: error: redefinition of ‘template<class T> size_t xsimd::get_alignment_offset(

[2019-07-30 08:45] #300 closed

[2019-07-30 11:17] wolfv commented on #300
How did you fix it?

[2019-08-27 13:49] #297 closed

[2019-09-17 19:57] JohanMabille commented on #248
Several dependencies of  xsimd are C++11, so let's keep it!

[2019-09-17 19:57] #248 closed

[2019-09-17 20:07] serge-sans-paille commented on #248
Thanks o/

[2019-09-17 20:08] JohanMabille commented on #248
I should have closed that sooner, I'll update the README accordingly.

[2019-09-24 04:00] ojwoodford opened #309 "batch_bool comments"
Hi

I'm using the types `batch<float, 4>` and `batch<int32_t, 4>` on an intel system, and have various issues casting to/from batch_bool.
- `batch_bool<int32_t, 4> inBounds = (x >= 0) & (y >= 0) & (x <= width) & (y <= height);` does not compile. I need to use `batch_bool<int32_t, 4> inBounds = (0 <= x) & (0 <= y) & (x <= width) & (y <= height);`
- `bitwise_cast(inBounds)` produces -1 instead of 1

[2019-09-24 08:41] JohanMabille commented on #309
Hi,

Thanks for reporting!

#310 fixes thecomparison issue.
Regarding `bitwise_cast`, it is the expected behavior. Binary representation of boolean can be arbitrary as long as `true` can be converted to `1` and `false` can be converted to `0`. The `bitwise_cast` function does not perform such a conversion, it is a "reinterpretation" of the binary representation into another type.

However, `xsimd`

[2019-09-28 15:18] longnguyen2004 opened #311 "#warning directive cause errors on MSVC"
Seems like MSVC uses `#pragma message("warning: foo")` instead of `#warning foo`

[2019-09-30 03:09] #311 closed

[2019-10-08 05:27] balancap opened #313 "Overload +/+=/-/-= operators with right term batch_bool"
It would be very useful to be able to use directly `batch_bool` mask to increment/decrement integer `batch`, using the integer overfull trick. It allows to update a table of indices in only 2 ops.

[2019-10-10 15:57] schrpe opened #314 "Saturated add and subtract seems to be missing."
Do you have any guidelines how one would go and implement saturated addition and subtraction?

[2019-10-10 17:51] zhihaoy opened #315 "Header inclusion fails on AVX512"
Compile the following program
[code]
with command
[code]
fails with
[code]

[2019-10-19 02:01] ThomasRetornaz commented on #314
+1
It could be very usefull for image processing library.
Same comment than Peter, if you have guidelines?
Regards
TR

[2019-10-19 07:38] wolfv commented on #314
probably making a free function like `xsimd::sadd(a, b)` would be the way to go.

Then you could implement it for the different architectures in the kernels as a xsimd::kernel::sadd(..).

And in the last step you can use the function which is implemented in the kernel inside the `xsimd::sadd` function.

For example, here is the kernel implementation for AVX int32 for add:

https://github.com/xtens

[2019-11-02 10:44] ThomasRetornaz commented on #314
i'll give it a try

[2019-11-12 05:34] flori-uni opened #320 "_mm256_blendv_epi16 does not exist"
The used methods _mm256_blendv_epi16 in
https://github.com/xtensor-stack/xsimd/blob/a8d6f7855d33d3263a4d7804e990510093c6b457/include/xsimd/types/xsimd_avx512_int16.hpp#L321-L322

do not exist.

[2019-11-12 19:19] flori-uni commented on #315
I get the same problem. A bit strange is the fact, that the tests are working.

[2019-11-12 19:22] SylvainCorlay commented on #315
@zhihaoy @flori-uni thanks for the report. Could you please report the exact architecture on which you are building?

[2019-11-12 19:24] zhihaoy commented on #315
AWS T3 instances.

[2019-11-12 19:26] flori-uni commented on #315
Plain Debian 10 on a Dell Workstation.
Using;
[code]

[2019-11-12 19:27] flori-uni commented on #315
Temporary disabling AVX512BW causes #320

[2019-11-12 19:49] flori-uni opened #321 "xsimd/types/xsimd_avx512_int_base.hpp:135:34: warning: narrowing conversion"
Compiling the tests causes plenty of warnings:
` warning: narrowing conversion of â€˜std::get<1, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, int&, short int&, short int&, short int&, short int&>((* & std::forward<std::tuple<int&, int&, int&, int&, int&, int&, int&, int&, int&, int&

[2019-11-15 08:07] flori-uni commented on #315
Any update on this issue?

[2019-11-15 09:21] JohanMabille commented on #315
Can you try one of the following options? Each of them requires changing `xsimd/types/xsimd_avx512_int16.hpp` only:

Option1:
Move line 150 (i.e `using base_class::base_class;`) to line 172.

Option2:
Add the folowwing code line 172:
[code]

Also do you have the opportunity to build with another compiler like gcc7 or clang?

[2019-11-15 12:13] flori-uni commented on #315
GCC 7.3 works fine :+1:

[2019-11-15 13:46] JohanMabille commented on #315
Ok so that's definitely a compiler issue. Out of curiosity, did any of the other options work?

[2019-11-15 15:25] flori-uni commented on #315
Nop :-1:

[2019-11-15 16:29] flori-uni commented on #315
GCC 6 also complaining about the same error...

[2019-11-15 16:49] JohanMabille commented on #315
When you implement option 2, you still have the same issue or is it a different one?

[2019-11-15 17:15] flori-uni commented on #315
GCC 7.4 also has the same error 😞
[code]

[code]

[2019-11-15 17:15] flori-uni commented on #315
Exact the same error 👎

[2019-11-20 09:27] flori-uni commented on #320
Any idea how to fix the issue? Would be great if there is a solution ... :grin:

[2019-11-20 09:39] martinRenou commented on #320
@JohanMabille @wolfv Do you think splitting another time and using [`_mm256_blendv_epi8`](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm256_blendv_epi8&expand=453) would be a good idea?

[2019-11-20 09:42] JohanMabille commented on #320
No, I think it's a typo due to name inconsistency in intrinsics. I'm working on a fix.

[2019-11-20 09:43] martinRenou commented on #320
Ok :) Thanks

[2019-11-20 09:44] flori-uni commented on #315
Maybe any update on this topic? Sadly I've got not enough knowledge to fix it on my own ...

[2019-11-20 10:13] JohanMabille commented on #315
OK let's try to have a more meaningful error message. Sorry to ask you but I don't have any mean to reproduce here. Could you post the error you have when you replace line 315 of `xsimd_avx512_int16.hpp` with the following?

[code]

Similarly in `xsimd_avx512_int8.hpp`, line 317 should be replaced with:

[code]

[2019-11-20 15:46] flori-uni commented on #315
[code]

[2019-11-20 15:51] SylvainCorlay commented on #315
@flori-uni it seems the previous fix to #320 is not correct. @JohanMabille is working on fixing this but had to check out for the afternoon. Will be working further on this tonight or tomorrow..

[2019-11-20 15:55] flori-uni commented on #315
The previous log messages are generated using the provided commands, so the fix for #320 should not have an effect on this?

[2019-11-20 23:37] JohanMabille commented on #315
- #320 is due to wrong intrinsics name (_mm256_blendv_epi16) when `XSIMD_AVX512BW_AVAILABLE` is not defined.
- this issue is due to the other branch of the same function, that is compiled when XSIMD_AVX512BW_AVAILABLE is defined.

So indeed, the "fix" of #320 should not have any impact on this issue.

[2019-11-20 23:45] JohanMabille commented on #320
The fix is actually broken, reopening this issue.

[2019-11-21 00:22] #320 closed

[2019-11-21 10:16] flori-uni commented on #315
Do you need any further information from me?

[2019-11-21 10:45] JohanMabille commented on #315
There was a typo in my code :( So the correct replacement should be:

[code]

Similarly in xsimd_avx512_int8.hpp, line 317 should be replaced with:

[code]

[2019-11-22 06:03] flori-uni commented on #315
Strange that works :grin:

[2019-11-22 08:03] JohanMabille commented on #315
Cool, now we can track the culprit ;)

In the current code (with all the temporary variables), can you try the following replacement:
[code]
And publish the output if there is any error?

And then try the following
[code]
And publish the output if there is any error?

If both work, it would be nice to try them together:
[code]
And post the error message if you have any.

Many thanks for helping us

[2019-11-22 14:14] ftegenfe opened #324 "compile fails on knl (Knights Landing)"
When compiling with xsimd it fails on KNL architecture.
uname -a : Linux x 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

gcc: 8.2.1 20180905 (Red Hat 8.2.1-3)
xsimd git hash: commit af9c6723b7eba63da88e42bf69baf80b601c6007
cpu: Intel(R) Xeon Phi(TM) CPU 7250 @ 1.40GHz

Example code:
`#include <xsimd/xsimd.hpp>`
`int main(int argc, char **argv) {`
`return

[2019-11-22 14:27] flori-uni commented on #324
Same problem as #315

[2019-11-22 14:32] flori-uni commented on #315
`__m512i mres = _mm512_mask_blend_epi16(cond, mb, ma);` works
`__m512i mres = _mm512_mask_blend_epi16(c, b, a);` throws error
[code]

[2019-11-22 14:49] ftegenfe commented on #324
OK, though I dont see quite the same situation - it's in the same region of the code.
The error I see relates to mismatch in argument types. The code I tested is the latest from github.

         return kernel::select(cond(), a(), b());
[code]

[2019-11-22 17:23] #315 closed

[2019-11-22 17:59] ojwoodford commented on #290
I still think there is a need for cross batch additions for a fixed number of batches, regardless of the (instruction set specific) batch length. An example algorithm which requires this: Say you are writing a matrix multiply function, and you want to compute each 2x2 subblock of the output matrix at a time. You can do this by accumulating the sums of row, column dot products into 4 batches, then

[2019-11-22 23:10] #321 closed

[2019-11-25 10:14] ftegenfe commented on #324
I made a temp hack that seems to work...
I noticed the error only when expanding XSIMD_DEFINE_BITWISE_CAST_ALL
for the cases with int16_t and int8_t. Commenting out those lines made the compile work.

`#define XSIMD_DEFINE_BITWISE_CAST_ALL(NMIN)                                    \`
`   XSIMD_DEFINE_BITWISE_CAST_FLOAT(double, NMIN)                              \`
`   XSIMD_DEFINE_BITWISE_CAST_FLOA

[2019-11-25 23:10] JohanMabille commented on #324
@ftegenfe can you confim that #329 fixes your issue?

[2019-11-26 06:41] ftegenfe commented on #324
just tried the fix and it works! Thanks for the quick response and an excellent package.

[2019-11-26 08:01] JohanMabille commented on #324
Ok no I think this was also the root cause for #315 but let's confirm that later when we set additional configuration for testing other avx512 instruction set.

[2019-11-26 08:02] #324 closed

[2019-11-26 08:26] JohanMabille opened #330 "Additional CI configuration for AVX512"
The current CI configuration allow to test AVX512BW instruction set. It would be nice to add a configuration for AVX512VL or AVX512F to improve test coverage.

Once it is done, we can check if #329 also fixed #315 and if the workaround can be removed.

[2019-12-01 14:14] fritterhoff opened #331 "Use _mm512_scalef_ps for ldexp"
Currently, ldexp gets approximated... AVX512F Provides a new intrinsic for this case: _mm512_scalef_ps

Maybe that could be included? 😉

[2019-12-03 17:29] tdegeus opened #332 "Include lapack and blas libraries in CMake targets"
It would be great to allow the end-user to only have to

[code]

(without having to deal with blas and lapack)

[2019-12-06 08:04] #332 closed

[2019-12-10 13:34] tort-dla-psa opened #334 "segmentation fault on container assign"
it works fine without xsimd, but if I enable it, I get this:

0x00007ffff4720337 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:55
55        return INLINE_SYSCALL (tgkill, 3, pid, selftid, sig);
Missing separate debuginfos, use: debuginfo-install openblas-serial-0.3.3-2.el7.x86_64
(gdb) bt
#0  0x00007ffff4720337 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sy

[2019-12-10 13:58] JohanMabille commented on #334
Can you please the issue on the `xtensor` repo? This is not due to `xsimd` but to the assignment mechanism in `xtensor`.

[2019-12-10 13:58] #334 closed

[2019-12-11 18:16] tdegeus opened #335 "Build error"
On my CI I'm getting

[code]

FYI: https://travis-ci.org/tdegeus/GooseEYE/jobs/623781528

[2019-12-11 18:39] JohanMabille commented on #335
Does it constantly fail or did you manage to have it working at some point? Also does it fail only for this compiler?

[2019-12-11 18:41] JohanMabille commented on #335
Apparently, the shift intrinsics require the shift parameter to be `immediate`, i.e., known at compile time. Since the build succeeds for other version of GCC? it might be that GCC 5 does not manage to inline the wrapping function and therefore does not see the parameter as an immediate.

We might solve this by forcing the inlining.

[2019-12-11 18:48] tdegeus commented on #335
I only had it on one GCC version and not for all hardware configurations: the same GCC also ran successfully on another build.

[2019-12-11 18:57] JohanMabille commented on #335
Can you add the following to your CI script before you start the build?

[code]

I am pretty sure that the failing builds will be on Intel `Xeon model 85`, while builds on `Xeon model 63` will always be fine.

We have a similar issue with the build of `xtensor`, although the symptoms are a bit different, but I suspect a common root cause.

[2019-12-12 08:15] tdegeus commented on #335
Will do. In the mean time I am also experiencing this problem on GCC6

[2019-12-12 10:04] tdegeus commented on #335
[code]

https://travis-ci.com/tdegeus/GooseEYE/jobs/266444789

[2019-12-14 00:21] JohanMabille commented on #335
I finally got it. There are several factors leading to this issue, and to the random failures we experienced on the other repos of the stack. The common factor is that travisci has made available new machines that support AVX512 instructions set (but did not remove the older ones). If such a machine is selected, the build can fail for many reasons:
- Incompatibility of old binutils. The default co

[2019-12-14 05:39] flori-uni opened #339 "uint32_t bug on AVX2"
Using uint32_t batches on an AVX2 machine causes wrong results when comparing values.

The code:
[code]
produces:
[code]

[2019-12-14 07:19] tdegeus commented on #335
Sounds good. Thanks a lot!

[2019-12-14 07:39] JohanMabille commented on #335
We still have some remaining bugs after merging #338. I am working on them.

[2019-12-16 09:48] #335 closed

[2019-12-18 09:06] #339 closed

[2019-12-18 18:49] wolfv commented on #331
Would you be interested in providing a PR for this? That would be awesome!

Btw. thanks for filing all these bugs, it's very helpful!

[2019-12-18 18:49] wolfv commented on #331
Would you be interested in providing a PR for this? That would be awesome!

Btw. thanks for filing all these bugs, it's very helpful!

[2019-12-18 18:52] wolfv opened #346 "Use mm_cmpgt_epuXX for unsigned integer comparison on AVX512"
AVX 512 added some SSE and AVX2 sized instructions for comparing unsigned integers.

The catch is that they return a `__maskX` and not a SIMD register size batch of bool ... so far we don't handle that.

But we could remove the xor flipping code that we currently need in order to use the signed comparisons for unsigned integers.

[2019-12-20 15:39] avitase opened #347 "Add a word about alignment requirements of arrays to documentation"
Maybe you could add a word or two to your documentation concerning the alignment requirements of `xsimd::load_aligned` and a best practice for `std::array`, similar to the example for `std::vector`? Could you comment on whether it is ok to use `alignas(XSIMD_DEFAULT_ALIGNMENT) std::array<..., ...>` or not? If not, how could I use `xsimd::load_aligned` for arrays without manually looking up the ali

[2019-12-20 17:45] JohanMabille commented on #347
Good suggestion!

Regarding `std::array` it is definitely ok (actually it is the way to go) to use `alignas(XSIMD_DEFAULT_ALIGNMENT) std::array<..., ...>`.

I will update the documentation as soon as I have the time to do it.

[2019-12-20 18:05] #347 closed

[2020-01-15 13:18] tdegeus opened #349 "Argument must be an 8-bit immediate"
I'm getting the following build error on my CI:

[code]

[2020-01-15 14:58] JohanMabille commented on #349
I ran into this issu at some point. The last argument of  `_mm512_slli_epi64` and `_mm512_srli_epi64` must be known at compile time. However, when this code is called, the compiler can figure out by itself the value of the constant (if called with a constant).

Do you call  (indirectly) this code (it is the vectorization of shift operators)? Or do you have this error as soon as you include `xismd`

[2020-01-15 15:03] tdegeus commented on #349
Alright. As far as your question is concerned, I'm not entirely sure. It is a bit cumbersome to debug on travis as many of these errors are hardware dependent. Will let you know!

[2020-01-15 15:15] JohanMabille commented on #349
Given that the error message does not print something like "required from here", I think checking `GooseEYE/config.h:26`and `GooseEYE.h:10` should be enough. If they are  `include` statements, then you do not call directly these methods and the compiler complains before knowing if he can determine the second argument (which is super weird).

Out of curiosity, which compiler do you use? And which d

[2020-01-16 08:36] JohanMabille commented on #276
Closing now that the support for Conan has been implmeented i a dedicated repo.

[2020-01-16 08:36] #276 closed

[2020-01-21 01:00] #309 closed

[2020-01-21 08:35] tort-dla-psa opened #353 "build errors"
I'm trying to build a C++ project with xsimd, but I get this:

   ->constexpr X conj_impl(const **xsimd**::simd_complex_batch<X>& z)
/usr/local/include/xtensor/xcomplex.hpp:172:49: error: ‘xsimd’ was not declared in this :
   ->xtl::negation<std::is_base_of<**xsimd**::simd_complex_batch<T>, T>>
/usr/local/include/xtensor/xcomplex.hpp:172:49: note: suggested alternative: ‘**xt_simd**’

..and so on.

[2020-01-21 08:45] JohanMabille commented on #353
Indeed, that's an issue in xtensor. I'm closing this one and keeping track of it in the xtensor repo.

[2020-01-21 08:45] #353 closed

[2020-04-21 15:14] zhihaoy commented on #232
Also mask load please.  Useful for loading the end-sequence elements.

[2020-04-21 22:16] zhihaoy opened #364 "batch should be trivially default constructible"
[code]
It is surprising that the code above does not initialize x to zeros.
This can be fixed by making `batch() = default;`

[2020-05-20 16:43] JohanMabille opened #369 "clang-cl fails with cmake 3.17.2"
The azure-pipeline build pins cmake 3.14 to avoid failure when buiding with clang-cl. It seems that some options are not set correctly by cmake, this should be investigated so that we can use nay version of cmake.

[2020-06-19 05:43] flipchart opened #371 "Should I use a reference for xsimd::simd_return_type in a functor"
Noob question. Still getting the hang of C++ :)

Say I have a functor which performs vector addition:

[code]

Should the functor arguments `lhs` and `rhs` be (const) references, or is pass by value fine? I know the C++ compiler should inline the code, so perhaps it doesn't matter?

Thanks for the amazing library!

[2020-06-19 07:44] JohanMabille commented on #371
It does not really matter in your case. I usually pass everything that is larger than (or as the same size as) a `size_t` (which should be the case of `simd_return_type<X, X>`).

[2020-07-14 14:19] abique opened #374 "Runtime detection of instruction set"
Hi,

I am wondering if it is possible to perform a runtime detection of the instruction set to use?
Basically the approach would be:
[code]

I'm not sure if this is already possible, after reading the examples I've concluded that it isn't.

To be clear, my goal is to produce one executable that will be able to take advantage of the best instruction set available, with the lowest overhead possible.

[2020-07-14 14:40] abique commented on #374
When reading this file: https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/types/xsimd_avx512_float.hpp
it seems that you'd need to move the delcarations inside a `_xsimd::avx512` namespace, that way you could have multiple instructions set support at the same time without have conflicts rights?

And you can do `using xsimd = _xsimd::avx512;` at the very end.
What do you think?

[2020-07-15 10:18] JohanMabille commented on #374
I don't think you need to move the declarations of any `batch` class into another namespace. All these classes are different specializations of a template class and can live together (and they actually do on processors that support all of them).

Regarding runtime detection, you can get the supported instructions via `cpuid` and then return a processor that will build / return the appropriate batc

[2020-07-15 14:26] abique commented on #374
So if we want to have every intel options, we compile with -mavx512 -mtune=generic, and then we could implement the dynamic dispatch.

Do you think that the dynamic dispatch could be part of the library?

[2020-07-15 14:51] JohanMabille commented on #374
Yes that would be awesome!

[2020-07-30 09:11] abique opened #375 "feature request: shuffle"
Hi,

I've looked through the documentation, but I did not find a way to perform shuffle operations.
Is that missing? If so is it something that could become part of the library?

Many thanks,
Alexandre

[2020-07-30 09:12] abique commented on #374
I close the issue as I might not need it anymore.

[2020-08-07 01:37] malytomas opened #376 "missing include <tuple>"
Building with latest visual studio 2019 (16.7.0) functions tuple_cat and make_tuple require header <tuple> to be included.
These functions are used eg. in xsimd_estrin.hpp.

[2020-08-10 15:16] JohanMabille commented on #375
Hi,

Indeed `xsimd` does not provide any high level API for shuffling yet. That's a feature we would like to have in the library, but we are not sure of how to implement it because of the combinatory issue.

[2020-08-10 15:48] #376 closed

[2020-08-10 16:35] abique commented on #375
What do you mean by combinatory issue?

[2020-09-02 12:03] JannisW opened #379 "Fallback is not fully supported (for ARMv7)"
First of all, thanks for the amazing library! It's been very helpful.

Recently, I encountered an issue with the fallback mode for the old ARMv7 specification when using doubles.
In this case the macro `XSIMD_ARM_INSTR_SET` is defined, but `XSIMD_BATCH_DOUBLE_SIZE` is not.

This leads to to the default definition of `simd_traits<double>` to be
[code]

To achieve full fallback behavior, however, th

[2020-09-09 15:58] namniav opened #381 "Performance: std::transform vs xsimd::transform"
I ran some simple tests using `xsimd::transform` and `std::transform`. It seems that `xsimd::transform` did not "**significantly** accelerate code execution" as introduced in documentation, even much worse than `std::transform` on some operations. Because I am not an expert of vectorization nor assembly, did I make something wrong or misunderstand something?

code:
[code]

compiled with g++ 7.5.0,

[2020-09-10 14:55] tdegeus opened #382 "warning: dereferencing type-punned pointer"
[code]

[2020-09-11 08:40] tdegeus opened #383 "Persistent compiler errors on CI"
I'm getting the following error
[code]
here: https://travis-ci.com/github/tdegeus/GooseEYE/jobs/266462245

[2020-09-15 11:46] JohanMabille commented on #383
You need to upgrade the Ubuntu distribution from Trusty to Xenial

[2020-09-15 12:42] tdegeus commented on #383
It is already on Xenial

[2020-09-15 12:44] JohanMabille commented on #383
That's not what the travis logs show:

[code]

[2020-09-15 12:48] tdegeus commented on #383
I'm confused... This ran 6 ago on the master https://travis-ci.com/github/tdegeus/GooseEYE/jobs/266462245 , while I specify Xenial:
https://github.com/tdegeus/GooseEYE/blob/be98fa8ce0a3c0049032bc9a649efda598c3ea6b/.travis.yml#L2

[2020-09-15 13:00] JohanMabille commented on #383
That's indeed super weird Oo

[2020-09-16 10:10] abique opened #386 "Invalid CodeGen with clang-cl (From visual studio 2019) in release builds (64 bits, ssse3)"
Hi,

I've found that the following code snippet does not produce correct CodeGen with clang-cl.

[code]

Here is the output result:
[code]

After looking at the output, it seems that it is computing `pow(2, x);` instead of `exp(x);`

Here is the assembly code:
[code]

Here is the compiler flags (stripped from include paths):
[code]

Can you reproduce the issue?
Is there a chance that you program a

[2020-09-16 13:56] abique commented on #386
I cross-link this issue with a corresponding one in LLVM bug tracker.
It could be an LLVM issue... https://bugs.llvm.org/show_bug.cgi?id=47547

[2020-09-17 00:42] namniav commented on #381
For possible future readers:
After further searching, I found that common compilers(eg. gcc, clang, msvc) can do **auto-vectorization** for a known architecture(eg. clang/gcc with `-march=`). Higher optimization level(eg. `-O2`) may be required and some math-strategy(eg. `-ffast-math`, `-fno-math-errno`) may be used for better performance. More information can be obtained from compiler's documenta

[2020-09-17 00:42] #381 closed

[2020-09-17 07:46] #371 closed

[2020-09-18 08:36] pesterie opened #387 "Missing fma implementation for xcomplex"
See [here](https://godbolt.org/z/adf66o)

[2020-09-28 06:44] woffl opened #389 "Wrong intrinsic in AVX2 int16 xsimd::select"
Hi,

First of all, big thank you for the excellent xsimd library. Most elegant SIMD wrapper I ever used.

Compilation of my code fails in [line 270](https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/types/xsimd_avx_int16.hpp#L270) of xsimd_avx_int16.hpp.

`No matching conversion for C-style cast from 'const xsimd::detail::int16_batch_kernel<short>::batch_bool_type' (aka 'const batch

[2020-09-28 09:18] JohanMabille commented on #389
Indeed, thanks for catching this!

[2020-09-28 09:31] #389 closed

[2020-10-03 18:40] serge-sans-paille opened #391 "Validation fails on armv7"
complete logs: https://kojipkgs.fedoraproject.org//work/tasks/5905/52705905/build.log

relevant parts:

Configuration step:

[code]

Failure:

[code]

[2020-10-05 12:28] JohanMabille commented on #391
Closing as [duplicate](https://github.com/xtensor-stack/xtensor/issues/2174).

[2020-10-05 12:28] #391 closed

[2020-10-16 11:56] emmenlau opened #392 "Can I define `XSIMD_INSTR_SET_NOT_AVAILABLE` to a useful value?"
This is really a minor issue. I like to build code with very pedantic build settings. A very helpful flag for gcc and clang is `-Werror=undef` that helps identify cases where a macro is used in a preprocessor condition but the macro is actually undefined (and would evaluate to zero). Such cases can indicate an very tricky error in case the macro is just not in the current include path.

This warni

[2020-10-16 13:00] JohanMabille commented on #392
I think it is a bug, the correct condition should be

[code]

[2020-10-16 13:04] emmenlau commented on #392
Thanks! I can make a PR!

[2020-10-16 15:19] #392 closed

[2020-10-27 11:20] diorcety commented on #204
Doesn't seem to resolve all the cases:
https://godbolt.org/z/9q5PnY

[2020-10-28 09:11] diorcety opened #397 "-m32 support for long int"
Related to #204, The following code works `xsimd::batch<int32_t, 4> b;` but not this one (which should be identical) `xsimd::batch<long, 4> a;`
https://godbolt.org/z/9q5PnY

[2020-11-04 12:39] JohanMabille commented on #204
Let's reopen this.

[2020-11-10 08:33] JohanMabille commented on #379
Sorry for this super late reply, and thanks for this suggestion, it is indeed the best way to fix it. Notice that this requires `XSIMD_ENABLE_FALLBACK` to be defined, otherwise the specialization `batch<double, 1>` is not defined.

[2020-11-10 09:17] #379 closed

[2020-11-10 23:52] jcowgill opened #400 "Tests fail to build on AArch64 with ENABLE_XTL_COMPLEX"
Building the tests on AArch64 with the `ENABLE_XTL_COMPLEX` option enabled doesn't work for me:
[code]

I'm using ARM's cross GCC 9.2.1 compiler and xsimd 7.4.9

[2020-11-23 09:53] JohanMabille opened #403 "Math functions for integral batches"
A lot of mathematical functions from the STL convert their argument for integer to double and then rely on the overload for double ([remainder](https://en.cppreference.com/w/cpp/numeric/math/remainder), [nearbyint](https://en.cppreference.com/w/cpp/numeric/math/nearbyint), etc...).

`xsimd` should follow the same pattern when no equivalent more optimized implementation is possible. Generic functio

[2020-12-02 07:23] hrant-nurijanyan opened #404 "xsimd::transform not working"
I tried to use xsimd::transform from your doc on GitHub
[code]
But I get error ```error: assigning to 'double' from incompatible type 'void'
            XSIMD_LOOP_MACRO(load_aligned, load_aligned, store_aligned);
            ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/usr/local/include/xsimd/stl/algorithms.hpp:110:32: note: expanded from macro 'XSIMD_LOOP_MACRO'
                o

[2020-12-02 17:22] SylvainCorlay commented on #404
I think that you are missing a return statement in your lambda.

[2020-12-02 18:04] SylvainCorlay commented on #404
@hrant-nurijanyan thanks for opening the ticket!

I will be closing the issue, but feel free to ask should you have more questions.

[2020-12-02 18:04] #404 closed

[2020-12-09 17:33] dmikushin opened #406 "Advanced SIMD vs NEON?"
Dear all, thanks a lot for working on this great project!

I would like to know what is really meant by ARM NEON support. The ARM vector extension has been known as NEON prior to ARMv8-A. Since ARMv8-A onwards vector instruction sets are called "Advanced SIMD", and are not exactly the same as NEON. So, which one is supported by XSIMD, specifically?

[2020-12-09 21:39] JohanMabille commented on #406
Hi,

XSIMD supports both ARMv7 and ARMv8 instruction sets.

[2020-12-27 15:34] mattip opened #407 ""doxygenfunction: Unable to resolve multiple matches for function" in documetation pages"
I happened to see the error above in pages l[ike this](https://xsimd.readthedocs.io/en/latest/api/basic_functions.html). This was recently fixed [in breathe](https://github.com/michaeljones/breathe/pull/605), you might want to try updating. If it doesn't help, let me know.

[2021-01-04 12:57] JohanMabille commented on #407
Thanks for the update! I'm gonna upgrade to last version of breathe.

[2021-01-04 13:08] JohanMabille commented on #407
This is actually a problem in our documentation: at some point we refactored xsimd and forgot to update the documentation accordingly. Thanks for catching it!

[2021-01-04 14:13] #407 closed

[2021-01-04 14:54] mattip commented on #407
Hmm. [readthedocs build](https://readthedocs.org/projects/xsimd/builds/12685755/) is failing

[2021-01-04 14:56] mattip commented on #407
I think you cannot `conda install`, you have to `pip install`

[2021-01-04 14:59] mattip commented on #407
weird, the [conda feedstock](https://github.com/conda-forge/breathe-feedstock/pull/43) update for 4.25.1 seems to be merged...

[2021-01-04 15:12] mattip commented on #407
OK, it is a problem with the merge build over at conda-forge.

[2021-01-04 15:16] JohanMabille commented on #407
Once the package has been uploaded on conda-forge, it will take around 40 minutes to be available on all the mirrors.

[2021-01-21 13:44] JohanMabille opened #410 "Fix aarch64 build in the CI"
The build on linux aarch64 is currently disabled in the CI (because it fails) since #409 has been merged. It should be fixed and enabled again.

[2021-01-25 09:00] #382 closed

[2021-02-10 02:47] cyb70289 opened #412 "About adding new features"
Hi,

Thanks for creating xsimd which is a cool simd wrapper.

Current implementation looks focusing on basic data load/store and math operations, without advanced features like shuffle, zip, saturated op, etc. I wonder if contribution is welcomed to adding new features to xsimd lib.

In issue #375, @JohanMabille mentioned `combinatory issue` makes it hard to implement `shuffle` feature. I haven't

[2021-02-10 08:57] pitrou commented on #412
Also, for the sake of comparison, here is [libsimdpp's array of shuffling operations](https://p12tic.github.io/libsimdpp/v2.2-dev/libsimdpp/w/shuffle.html). In the context of Apache Arrow, at least `zip_lo` and `zip_hi` would be useful AFAICT. Arrow contributors can certainly contribute them if necessary :-)

[2021-02-10 08:58] pitrou opened #413 "Status of C++ level required unclear"
Currently the README mentions that C++11 is required. However, the docs [landing page](https://xsimd.readthedocs.io/en/latest/) mentions C++14, and the Github project has a `c-plus-plus-14` tag. Which one is it?

[2021-02-10 09:00] pitrou commented on #410
(note that Travis-CI provides native Arm64 workers)

[2021-02-10 12:20] JohanMabille commented on #413
Almost all the features require C++11 only (this is a requirement from [Pythran](https://github.com/serge-sans-paille/pythran)).

C++14 is required if you want to support vectorization for [xtl::complex](https://github.com/xtensor-stack/xtl/blob/master/include/xtl/xcomplex.hpp#L140).

Thus we need to update the doc to reflect this.

[2021-02-10 12:23] JohanMabille commented on #410
Indeed, we use them before. We switched from travisci on purpose (I don't want to beg travisci for build time for each project of the stack;)).

[2021-02-10 13:26] JohanMabille commented on #412
Any contribution is definitely welcome! There are a lot of things missing in xsimd that we like to have, we just miss the ressources to implement them quickly. So we usually wait for demand to implement them when we can, or even better for contributions.

Regarding the combinatory issue, the idea we had in mind was to implement something like (_builtin_shufflevector)[https://clang.llvm.org/docs/La

[2021-02-14 15:26] zchrissirhcz opened #414 "How can I assign zero to a xsimd::batch type varaible?"
Let's say I defined this variable:
[code]
I would like to initialize `result` with zeros, in a simple manner, other than:
[code]

I've searched in the documentation page, but didn't found function that I can use. Maybe I just missed some function ? Or, there is no such a function like `xsimd::zero<float, simd_size>` function?

Thanks.

[2021-02-15 13:38] JohanMabille commented on #414
You can initialize a batch from a scalar:

[code]

This will initialize all the values in the batch with `0`. If you need to assign after the variable has been defined, you can use `operator=` with explicit instantiation from the scalar:

[code]

[2021-02-15 14:27] zchrissirhcz commented on #414
Cool! I like this operator style value assigning.

[2021-02-15 14:27] #414 closed

[2021-02-23 14:41] pitrou opened #416 "load_(un)aligned slightly unergonomic"
I was trying to load from memory using an explicit batch type:
[code]

but that doesn't work.  I can use the batch constructor like this, but that's not very pretty IMHO:
[code]

(also note the explicit construction for `zero`, which has to a `static_cast` otherwise the constructor call is ambiguous)

[2021-02-23 15:00] pitrou commented on #416
Here is an example spelling that would be nice:
[code]

[2021-02-23 15:28] tdegeus opened #417 "Compiler warnings"
I document some compiler warnings here:
[code]

[2021-02-23 15:37] pitrou opened #418 "xsimd::batch<int8_t,16> construction ambiguous on MSVC 19.0.24241.7"
The following code:
[code]

fails on MSVC 19.0.24241.7 (from VS 2015) with the folllowing error:
[code]

(seen on https://ci.appveyor.com/project/pitrou/arrow/build/job/5i258u2479piq3g6#L1057 )

[2021-02-23 15:53] pitrou commented on #418
Hmm, obvious mistake on my part. The following succeeds:
[code]

(note `int8_t` vs `uint8_t`)

[2021-02-23 15:53] #418 closed

[2021-02-23 16:29] JohanMabille commented on #416
Thanks for the suggestion. Although not ideal, you can avoid the `static_cast` keyword in the constructor:

[code]

I really like the `broadcast` syntax! Let's implement it when I'm done with #402 .

Regarding the `load_unaligned` syntax, the template parameter must be the value type and not the batch type. You can usually let the compiler deduce it:

[code]

[2021-02-23 16:30] pitrou commented on #416
Am I sure it will end up the same width, though?

[2021-02-23 16:39] JohanMabille commented on #416
Ha, it depends if the type of `data` is the same as the `value_type` of `simd_batch`. In that case, you can omit all the template parameters. Otherwise, you have to specify them all:

[code]

Also notice that the syntax you've suggested is already [available](https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/types/xsimd_sse_double.hpp#L103):

[code]

In that case, you don't have to

[2021-02-23 16:51] pitrou commented on #416
Are you sure? I get the following error:
[code]

According to the docs, it's a non-static member function that loads into `*this`.

[2021-02-23 16:55] JohanMabille commented on #416
Ha my bad, I've read the code too fast. Indeed these methods are not static, and that will prevent to add static methods with the same name.

Would something like `batch_type::from_unaligned(data)` be an acceptable API?

[2021-02-23 17:24] pitrou commented on #416
Yes!

[2021-02-24 12:34] akssieg opened #420 "Image array operation support such as resize, bgr to rgb conversion."
Can we use xtensor and replace opencv functions like resize, crop and bgr to rgb conversion? Does anybody has any of these implementation using xtensor?

[2021-02-24 14:42] JohanMabille commented on #420
Hi,

I think you should ask this on the xtensor repo instead. This repo is for vectorizing operations.

[2021-02-24 14:42] #420 closed

[2021-02-24 18:40] pitrou opened #421 "AVX512 compilation error on MSVC 19.16.27035.0 (VS 2017)"
While trying to compile code using `xsimd::batch<uint32_t, 16>` with AVX512 enabled, I got these errors on AppVeyor:
https://ci.appveyor.com/project/pitrou/arrow/builds/37935012/job/5k8hyx5vm69f5bav#L1169

[code]

While generated, the code which is being compiled is really simple:
https://github.com/pitrou/arrow/blob/xsimd-bpacking/cpp/src/arrow/util/bpacking_simd512_generated.h

[2021-02-24 18:44] pitrou opened #422 "AVX512 not enabled with clang-8.0"
See https://github.com/pitrou/arrow/runs/1972721611?check_suite_focus=true#step:8:900
[code]

Yet the compilation command has the flags `-march=skylake-avx512 -mbmi2 -mavx512f -mavx512cd -mavx512vl -mavx512dq -mavx512bw`. Does xsimd expect more flags when detecting AVX512?

[2021-02-24 18:45] pitrou commented on #422
Here is a similar issue on macOS with AppleClang 12.0.0.12000032:
https://github.com/pitrou/arrow/runs/1972721219?check_suite_focus=true#step:5:570

[2021-02-24 18:47] pitrou commented on #421
Here is a similar issue with MSVC 19.28.29337.0 (VS 2019):
https://github.com/pitrou/arrow/runs/1972721711?check_suite_focus=true#step:7:777

[2021-02-24 18:57] pitrou commented on #422
Ok, the explanation is that, while `__AVX512F__`  is defined, `__GNUC__` is also defined by clang to a value smaller than 6.

[2021-02-24 19:00] SylvainCorlay commented on #422
@JohanMabille we may want to do the same trick to detect clang version as in xtensor here.

[2021-02-24 19:01] pitrou commented on #422
This simple fix seems to compile fine here (I don't have AVX512 on the CPU to check that runtime works):
[code]

[2021-02-24 19:02] SylvainCorlay commented on #422
Yeah, we have an i9 hanging around. We should be able to test what works there.

[2021-02-24 19:20] pitrou commented on #421
Some thought after looking at the first few errors and checking in the online Intel intrinsics guide:
* `_mm_cvtepu32_ps` and `_mm256_cvtepu32_ps` indeed don't exist
* `_mm512_maskz_and_epi64` takes 3 arguments not 2
* `_mm512_and_epi64` takes 2 arguments not 1
* ...

It seems that somehow xsimd is assuming to find weird intrinsics that are not officially documented by Intel...?

[2021-02-25 06:52] XMatrixXiang opened #424 "About std::vector<double, xsimd::aligned_allocator<double, XSIMD_DEFAULT_ALIGNMENT>> related operations"
I found that the following code works correctly, but I don't find similar code logic in the documentation or demo (such as push_back, vector[index]), so I want to make sure that the usage is officially supported.

[code]

[2021-02-25 07:57] JohanMabille commented on #424
The `aligned_allocator` ensures the memory hold by the vector is properly aligned. This means that each time you need to reallocate the memory (after a `resize`, or a `push_back` for instance), you use this allocator under the hood, and the vector data can be used with the `load_aligned` API.

[2021-02-25 09:12] XMatrixXiang commented on #424
@JohanMabille
Do you mean that the following logic is incorrect
`
for(size_t index = 0; index < 10000; ++index){
	std::cout << simDoubleVector[index] << std::endl;
}
`
and should be replaced with the following logic?

`
	using b_type = xsimd::simd_type<double>;
    std::size_t inc = b_type::size;
    std::size_t size = simDoubleVector.size();
    std::size_t vec_size = size - size % inc;
    for(s

[2021-02-25 09:26] JohanMabille commented on #424
Both are correct, it depends on what you want to do. If you want to access values in your vector, no need to load the data into simd batches. I you want to perform vectorized computations, you should load them into simd batches, and thanks to the `aligned_allocator`, you can use the `load_aligned` API for that (rather than the `laod_unaligned`API, which always works, but might be slower).

[2021-02-26 05:42] XMatrixXiang commented on #424
@JohanMabille
First of all, thank you very much for your reply.

To understand the performance differences, I did a few simple benchmarks:

`
	static std::vector<float> gValues;
	static void GenerateRandomValues(size_t size) {

		std::random_device rd;
		std::mt19937 g(rd());

		gValues.resize(size);
		for (size_t i = 0; i < size; ++i) {
			gValues[i] = (i * 3.1415926f);
		}
		std::shuffle(gValues

[2021-02-26 08:37] JohanMabille commented on #424
It depends on a lot of things: the compilation flags you use, whether the compiler is able to autovectorize the multiplication in the first function, if the compiler optimize away the result, resulting in a noop (probably the case for the last multiplication function), etc ... Google Bnechmark provides a DoNotOptimize function if I remember correctly, to avoid this kind of optimizations.

You need

[2021-02-26 11:16] zhujun98 commented on #424
I think you can try a more complicated operation like `pow(a, b)` and then you should see the benefit of SIMD.

There is also some relevant discussion here

https://stackoverflow.com/questions/42964820/why-is-this-simd-multiplication-not-faster-than-non-simd-multiplication

The explanation is that simple operation like multiplication is memory bandwidth bound. Still, some people argues that it is

[2021-03-01 12:56] blackccpie opened #425 "batch constructor documentation issue"
Hello,

seems like there is a little documentation issue here:

https://github.com/xtensor-stack/xsimd/blob/1df22d69932bfd0f31b92a16afcfdb508432c47d/docs/source/api/xsimd_batch.hpp#L91-L100

Aren't these two constructor's documentations inverted? If `unaligned_mode` is used, src doesn't have to be aligned, am I right?

Regards,

Albert

[2021-03-01 13:06] JohanMabille commented on #425
Indeed, good catch! Thanks!

[2021-03-01 13:07] blackccpie commented on #425
You're welcome!

[2021-03-09 05:44] JohanMabille opened #427 "batch complex load / store from / to real buffer"
batch complex load / store from / to real buffer methods do not compile.

[2021-03-09 05:45] JohanMabille opened #428 "batch complex constructors from real buffers"
batch complex constructors from real buffers are missing.

[2021-03-11 23:55] pitrou commented on #412
@edponce I don't know if this is something you have an opinion on/could help with?

Note: the context for Arrow is https://github.com/apache/arrow/pull/9424, we don't need the full flexibility of generic shuffle.

[2021-03-12 14:11] edponce commented on #412
Hi all,

When working with vector operations, I have come across the combinatory issue in _shuffle/permute/shift_ operations and it does presents its share of challenges. It is not trivial to find a good balance between a clean API, generality, and performance. SIMD libraries tend to have a targeted focus b/c they are usually driven by operations of interest (and this is fine).

[_builtin_shufflev

[2021-03-17 09:33] serge-sans-paille commented on #412
I'll give a try to zip_lo / zip_hi and report here!

[2021-03-17 10:18] guyuqi commented on #412
Thanks for your interest. @serge-sans-paille
As discussed in https://github.com/apache/arrow/pull/9424, I'm working on add zip_lo / zip_hi (both x86 and Arm64)to xsimd and will submit th PR soon and wil fix build issues on Arm64 when `-DBUILD_TESTS=ON`.

[2021-03-17 11:43] serge-sans-paille commented on #412
ok, thanks @guyuqi for letting me know. I won't interfere on that part then :-)
What about the `lrot` and `rrot` operations that perform a rotation on the left / right ?

[2021-03-17 12:27] JohanMabille commented on #412
Thanks @edponce for sharing your experience on this. Giving that we are many developers interested in adding the shuffle functinos, I think a good approach for `xsimd` could be to implement the different shuffle operations into dedicated functions, similar to libsimdpp. This will allow us to work in parallel and make quick progress on what we need now instead of waiting for having a whole implemen

[2021-03-17 12:29] JohanMabille commented on #412
I'm going to open issues for functions that are currently under developement (and assign them to the developers working on it), please do not hesitate to open more and ping me to assign them if you want to implement other functions. This will avoid to duplicate the work.

[2021-03-17 12:30] JohanMabille opened #431 "Implementation of zip_hi / zip_lo"

[2021-03-17 12:30] JohanMabille opened #432 "Implementation of lrot / rrot"

[2021-03-17 12:31] #431 closed

[2021-03-17 12:31] #432 closed

[2021-03-17 12:39] JohanMabille opened #433 "Implementation of shuffle functions"
This issue tracks the progress on implementing shuffle functions in xsimd. The aproach is to implement different operations in dedicated functions (similar to what is done in [libscimdpp](https://p12tic.github.io/libsimdpp/v2.2-dev/libsimdpp/w/shuffle.html). If you want to contribute, please reply to this issue with the name of the function you're currently working on.

- [x] zip_hi / zip_lo (@guy

[2021-03-18 12:35] #422 closed

[2021-03-18 23:06] #413 closed

[2021-03-23 09:43] serge-sans-paille commented on #417
This warning was already fixed by b59b8f0dc79e891ec04992984b3fd120db9b7390

[2021-03-23 21:08] #417 closed

[2021-03-24 17:13] alexzk1 opened #443 "Unaligned access"
This is working without xsimd:
`auto another = xt::view(src, i - rows, xt::all());
        auto current = xt::view(src, i, xt::all());

        //output row view
        auto vr = xt::view(res, i, xt::all());
        vr = current / another - 1.;
`
With SIMD enabled it throws exception at last line vr = at function _mm256_loadu_pd on instruction VMOVUPD

If I change code to next, it seems OK:

`aut

[2021-03-24 17:35] alexzk1 commented on #443
Upd: I think first version (with operator = ) works on small datasets yet, however fails on big which are close to use swap.

[2021-03-24 20:14] serge-sans-paille commented on #387
@JohanMabille I'll take that one.

[2021-03-24 20:58] JohanMabille commented on #387
@serge-sans-paille notice there is already #388 opened.

[2021-03-24 21:06] serge-sans-paille commented on #387
ok, it resembles my implementation, with a few quirks. I'll use it as a basis (and also extend it so support fms and friends). @pesterie are you fine with that?

[2021-03-24 21:08] JohanMabille commented on #443
The last code snippet is equivalent to disabling `xsimd`, which explains why it works. Indeed, the line `auto tmp = another / current - 1.;` builds an unevaluated expression (no SIMD instruction involved). Then, when you perform a copy via the iterators, which does not imply any ISM instruction either. If you replace the copy with an assignment (`vr = tmp`), you should notice the same failure.

Ca

[2021-03-24 22:36] #425 closed

[2021-03-25 03:27] alexzk1 commented on #443
I have 3 copy-pastes similar. 2 of them did crash periodically. 3rd - never.
Also when I said "small data" that was hand-crafted while real data are from web some.
So all that tables must have same dimensions at the end, so memory allocated seems the same.
Then ...can be because of NaNs? Default value is NaN, then if some data is missing it remains NaN there.

Error was just some runtime with long

[2021-03-25 10:13] pesterie commented on #387
Hi @JohanMabille & @serge-sans-paille !
@serge-sans-paille yes, sure, feel free to iterate from this !
Will have a look when your done !

[2021-03-25 17:12] alexzk1 commented on #443
More info:
![image](https://user-images.githubusercontent.com/4589845/112514311-d651d080-8d9d-11eb-9510-eff99be4a31a.png)

Used function:
[code]

[2021-03-25 17:22] alexzk1 commented on #443
If I do this:
`auto&& e = xt::eval(src);

that fails here, which is original current / another - 1.

[2021-03-25 17:29] alexzk1 commented on #443
One more try to split it
![image](https://user-images.githubusercontent.com/4589845/112516876-66911500-8da0-11eb-9803-253868d33388.png)

[2021-03-25 17:44] alexzk1 commented on #443
Maybe wrong pointer? Not sure ...
![image](https://user-images.githubusercontent.com/4589845/112518912-8a555a80-8da2-11eb-854b-ecbe51d3bbbc.png)

[2021-03-25 18:12] alexzk1 commented on #443
More to go, fails:

[code]

[2021-03-25 20:05] serge-sans-paille commented on #387
@pesterie implementation available in #445

[2021-03-25 20:32] #387 closed

[2021-03-26 10:27] pesterie commented on #387
Sweet @serge-sans-paille ! Thx !

[2021-03-30 07:45] serge-sans-paille commented on #428
I'll handle that one.

[2021-03-30 19:35] serge-sans-paille commented on #421
@pitrou the github link to `bpacking_simd512_generated.h` is no longer valid, could you share the faulty source code again, or provide an equivalent reproducer?

[2021-03-30 19:59] pitrou commented on #421
@serge-sans-paille Ah, right, the name of the git branch changed, sorry: https://github.com/pitrou/arrow/blob/ARROW-11839-xsimd-bpacking/cpp/src/arrow/util/bpacking_simd512_generated.h

[2021-03-30 20:45] serge-sans-paille commented on #428
@JohanMabille according to tests, this is already implemented, or am I misunderstanding the problem?
see https://github.com/xtensor-stack/xsimd/blob/master/test/test_batch_complex.cpp#L116

[2021-03-31 08:58] JohanMabille commented on #428
The idea is to be able to write `complex_batch b(real_buffer.data(), imag_buffer.data())` without having to instantiate intermediate real batches (`complex_batch(real_batch(real_buffer.data(), imag_buffer.data()))`).

[2021-03-31 16:57] serge-sans-paille commented on #427
I'll handle that.

[2021-03-31 20:35] #428 closed

[2021-04-02 13:51] #427 closed

[2021-04-05 20:29] serge-sans-paille commented on #421
They actually do ( see https://officedaytime.com/simd512e/simdimg/convert.php?f=vcvtudq2ps)
Under Linux, they are defined in `avx512vlintrin.h`, see https://github.com/gcc-mirror/gcc/blob/master/gcc/config/i386/avx512vlintrin.h#L1487 for the coresponding intrinsic.

Using a more recent version of MSVC should fix the issue, as showcased by https://godbolt.org/z/fGq6hKE18

Can you share the compiler

[2021-04-06 07:04] JohanMabille commented on #421
`xsimd` is supposed to work starting with VS2015, so I think we should provide a workaround here.

[2021-04-06 07:37] pitrou commented on #421
That's not an official Intel site.
If you look for them in the official Intrinsics guide, you won't find them: https://software.intel.com/sites/landingpage/IntrinsicsGuide/#

So for some reason, non-official docs and Linux headers have an intrinsic that's neither in the official Intel docs nor in the MSVC headers. I don't know why.

As for compiler flags, I tried `/arch:AVX512`. Perhaps something

[2021-04-06 07:38] pitrou commented on #421
`/arch:AVX512` is supposed to enable all desired extensions according to https://docs.microsoft.com/fr-fr/cpp/build/reference/arch-x64?view=msvc-160

[2021-04-06 07:53] pitrou commented on #421
I took at the header (`zmmintrin.h`) provided with Visual Studio 2017:
* `_mm_cvtepu32_ps` is not defined
* `_mm_cvtepu32_pd` is defined as:
[code]
(but `_mm_maskz_cvtepu32_ps` doesn't exist anyway)
* `_mm512_cvtepu32_ps` is defined as:
[code]

[2021-04-06 07:56] pitrou commented on #421
Also, looks like this is not the only case of missing intrinsics:
https://developercommunity.visualstudio.com/t/missing-intrinsic-definitions-in-zmmintrinh/828399

[2021-04-06 08:06] serge-sans-paille commented on #421
Thanksfor the detailed information. Note that the latest version of MSVC, as hinted by the godbolt link above, seems to include support for these non-official intrinsics. @JohanMabille should we implement a portability layer with older MSVC version?

[2021-04-06 08:34] pitrou commented on #421
More spelunking:
* `_mm512_ceil_ps(v)` should probably be a shortcut for `_mm512_roundscale_ps(v, _MM_FROUND_TO_POS_INF)`
* ditto for `_mm512_ceil_pd` to `_mm512_roundscale_pd`
* similarly, `_mm512_floor_ps(v)` -> `_mm512_roundscale_ps(v, _MM_FROUND_TO_NEG_INF)`
* ditto for `_mm512_floor_pd`

[2021-04-06 08:35] pitrou commented on #421
As for `float <-> uint32` conversions, I think it would be ok to leave them undefined on MSVC. It's probably not a common use case.

[2021-04-06 08:38] JohanMabille commented on #421
@pitrou Thanks for detailed information!
@serge-sans-paille For the sake of completeness I would say yes ;)

[2021-04-06 09:25] pitrou commented on #421
Also, notice this issue's title and the various logs: the errors are on VS 2017 and VS 2019.

[2021-04-06 21:23] serge-sans-paille commented on #421
@pitrou can you check if the following fails in your setup:

[code]

[2021-04-06 21:23] serge-sans-paille commented on #421
I'm trying to setup CI that reproduces your issue but I'm failing at it...

[2021-04-06 21:52] pitrou commented on #421
Have you tried https://github.com/xtensor-stack/xsimd/pull/423 ?

[2021-04-07 06:09] serge-sans-paille commented on #421
**now** I feel ashamed. Thanks!

[2021-04-13 12:12] pitrou commented on #421
Fixed by #451

[2021-04-13 12:12] #421 closed

[2021-04-16 16:03] rgommers commented on #374
Runtime CPU capability detection and dispatch is a fairly essential feature when you're shipping a library to end users via a packaging system. Otherwise all you can do is use the lowest common denominator (probably SSE4 right now, at least for something as widely used as NumPy). Unless this is implemented already, would it make sense to reopen this feature request?

In case it's helpful, here's h

[2021-04-16 16:43] JohanMabille commented on #374
We haven't implemented it already, so it definitely make sense to reopen this. However, I wonder if we should implement it in a dedicated package. I could make sense for header-only downstream packages such as xtensor to not depend on binary files.

Thanks for the pointer, that's super helpful!

[2021-04-16 20:31] serge-sans-paille commented on #374
Is the use case somehow similar to that: https://godbolt.org/z/Me3xGvW4b ? I'd like to be sure of the intended usage :-)

[2021-04-16 21:09] rgommers commented on #374
Pretty much I think. It needs a cache for `getBestInstructionSet` I guess to make it performant, but the principle seems right.

[2021-04-17 13:45] emmenlau commented on #369
For what its worth, we're using xsimd successfully with cmake 3.20 (current latest).

[2021-04-17 13:47] emmenlau opened #456 "Latest xsimd 7.4.10 fails test `test_error_gamma` on MacOSX with XCode 12"
The tests for xsimd run on a number of platforms successfully but fail with XCode 12 on MacOSX:

[code]
and
[code]

[2021-04-21 18:24] SylvainCorlay commented on #422
@pitrou FYI 7.5.0 was released by @JohanMabille today, which includes all of the recent fixes with respect to AVX512, saturated arithmetics, etc.

[2021-04-21 18:25] pitrou commented on #422
Thank for the heads up. We indeed noticed that all of our issues were fixed!

[2021-04-25 13:44] lamyj opened #460 "Support of non-x86, non-ARM architectures"
I'm currently working on the packaging of xsimd in Debian (cf. https://lists.debian.org/debian-science/2021/04/msg00000.html and rest of the thread). We were wondering what the status of non-x86, non-ARM architectures (e.g. PowerPC or MIPS) in xsimd: are those supported (even if the support is only through `XSIMD_ENABLE_FALLBACK`) or is xsimd only assumed to work on x86 and ARM?

[2021-04-26 09:11] serge-sans-paille commented on #460
A few fixes are needed in the codebase to support fallback mode when no other instruction set is available. I'll propose a patch this week going that direction.

[2021-04-26 21:18] serge-sans-paille commented on #460
Once #461 and #462 land, this should be ok.

[2021-04-27 10:02] JohanMabille commented on #460
The fixes have been merged. For now, non-x86, non-arm architectures are supported only through `XISMD_ENABLE_FALLBACK`. We will probably add support for PPC in the near future.

[2021-04-27 10:02] #460 closed

[2021-04-27 10:13] lamyj commented on #460
Thank you @serge-sans-paille and @JohanMabille!

[2021-04-29 20:10] skeletonyk opened #464 "Memory usage related to XSIMD"
I was trying to use XSIMD for a vector dot, add operation with the following code:

[code]

When profiling the code I found that over 20Gb of temporary memories are allocated and freed.  I am wondering if there is any way I can preallocate and reuse the same memory to improve the performance?

Thanks!

[2021-04-30 07:14] JohanMabille commented on #464
Hi,

`xsimd` does not allocate heap memory, everything is on the stack. The `load_aligned` and `store_aligned` methods transfer data from memory to registers (and vice versa), but no allocation occurs. Closing this issue since it is not related to xsimd.

[2021-04-30 07:14] #464 closed

[2021-05-18 20:50] lhog opened #474 "Floating point truncated to zero warnings"
[code]

[code]

I have these warnings when I compile my code with included xsimd.hpp under Mingw-G++ 8.1.0

[2021-05-19 09:12] guyuqi opened #475 "How to cast xsimd::batch<uint8_t, 16> to xsimd::batch<uint32_t, 4>"
Hi @JohanMabille @serge-sans-paille ,

Thank you for your time.

In Arrow, I would like to cast xsimd::batch<uint8_t, 16> to xsimd::batch<uint32_t, 4>
for operating some shared data buffer:
[code]
It failed to compile in Arm Neon, but it works correctly in x86 SSE:
[code]

I noted that it would check the variadic arguments of template:

`template <class... Args, class Enable = detail::is_array_ini

[2021-05-20 12:54] JohanMabille commented on #474
This warning does not seem legit, `1.1754944e-38f` and `2.225073858507201e-308` are valid `float` and `double` values. Same for  `2.16741683877804819444e-51` which is a valid value for double.

I can replace the values in the smallestposval with `FLT_MIN` and `DBL_MIN` to be sure. Could you run the following and post the result please?

[code]

[2021-05-20 14:28] lhog commented on #474
I was surprised myself. When I replaced `1.1754944e-38f` and `2.225073858507201e-308` as a test with `std::numeric_limits<float>::lowest()` and `std::numeric_limits<double>::lowest()` respectively the first warning went away. If this is novel here, I guess I need to look for source of the issue on my side. Will leave it open for now until I reconfirm.

[2021-05-20 16:20] lhog commented on #474
I think it could be used no prob.
As for the second case I have no idea what `2.16741683877804819444e-51` is supposed to represent.

[2021-05-20 16:52] lhog commented on #474
[code]

[code]

[2021-05-21 19:12] serge-sans-paille commented on #474
@lhog I cannot reproduce the issue with 2.16741683877804819444e-51 . I've dig a bit and this is a magic value used internally, we don't want to change it (at all). A reproducer on https://godbolt.org/ would certainly help...

[2021-05-21 19:26] lhog commented on #474
Yep, very strange thing. I expect it might be some compiler quirk. My project is unfortunately too big to fit into godbolt.

P.S. I ended up replacing constant from the first warning with `FLT_MIN` and `DBL_MIN` and wrapping constants like this `double(2.16741683877804819444e-51L),` in the second case just to mute the annoying warning.

[2021-05-21 19:26] #474 closed

[2021-05-24 13:50] JohanMabille commented on #474
@serge-sans-paille I don't remember why we went with these ard-coded constants instead of using `std::numeric_limits`, I agree it would be more elegant to use this latter.

[2021-05-26 11:45] JohanMabille opened #480 "Add unaligned_iterator and remove xsimd::transform"
The aligned / unaligned iterator should allow one to write:

[code]

where func accepts batch arguments. Therefore, once the implementation of the iterator is complete, we can remove the `xsimd::transform` function.

cc @wolfv who originally implemented this function, maybe there was another reason for not dropping it.

[2021-05-26 12:02] JohanMabille commented on #480
Closing since the problem is that we cannot handle the case where the number of elements in the buffer is not a multiple of the batch size.

[2021-05-26 12:02] #480 closed

[2021-05-31 14:44] votientu opened #482 "The first example in the doc failed on my Ubuntu, fixed by including cstring"
Hello,

I tried to run the simple example provided in the documentation. I compiled it with g++ 7.5.0 Ubuntu:

$ g++ -march=native -Iinclude hello_xsmid.cpp -o hello_xsmid

[code]

Here is the error:

I found out that including cstring library in the hello_xsmid solve the problem.

[2021-05-31 18:30] serge-sans-paille commented on #482
Fixed by #484

[2021-05-31 19:04] #482 closed

[2021-06-02 07:18] guyuqi commented on #475
Hi, @serge-sans-paille
Maybe I missed something.
Could please share the way to cast <uint8_t, 16> to <uint32_t, 4> in xsimd?

Is it correct to cast by `static_cast`?
[code]

[2021-06-02 14:19] serge-sans-paille commented on #475
Yeah, that's fine, it's the same register underneath, see https://godbolt.org/z/x8Trdb1cz

[2021-06-02 14:20] serge-sans-paille commented on #475
ok, it's fine on X86 but not on arm, which looks like a bug to me, let me investigate that.

[2021-06-02 14:25] guyuqi commented on #475
Thanks for your feedback.

Yes, `static_cast ` doesn't work on Arm64.
I'm working on adding these casing operations to xsimd and would like to submit the PR soon.

[2021-06-03 02:50] jingchangshi opened #486 "Why not let the compiler for SIMD opt for you?"
Will using this library to do SIMD give me a lot of performance gain over the compiler's optimization? I know the fundamentals of SIMD and the articles on the Intel compiler webpage guide me how to design the data layout for SIMD.
The work done by this library seems to be the job done by the compiler including Intel, gcc, clang.

[2021-06-03 05:02] serge-sans-paille commented on #475
Great! I'm looking forward to review these

[2021-06-03 05:21] serge-sans-paille commented on #486
For simple kernels, xsimd and compilers are on par. But for more complex ones, like those involving trigonometric functions, performance may vary across compilers, while xsimd guarantees performance across architectures and compilers. See for instance https://godbolt.org/z/vEn4WsrvT that gcc cannot vectorize (but icc can).

[2021-06-03 06:45] jingchangshi commented on #486
Thanks for the reply! This makes sense and is helpful!
My in-house high order CFD code runs much faster if compiled by Intel than that by gcc. Maybe I should use xsimd for the gcc branch.
I feel it would be better to put this explanation in README of this repo.

[2021-06-03 06:45] #486 closed

[2021-06-11 16:22] emmenlau opened #488 "Errors in tests of complex.load_store when using ClangCl from LLVM 12"
Since upgrading to xsimd 7.5.0, I get a few errors in the tests for ClangCl 12.0.1 with Visual Studio 2019 v16.10.0 (current latest). Does this mean anything to you?

[code]

[code]

[code]

[code]

[2021-06-11 17:57] serge-sans-paille commented on #488
From a distance, this looks like an alignment issue. Can you give a try at  using explicit unaligned load / store in the test?

[2021-06-17 08:10] emmenlau commented on #488
@serge-sans-paille Can you help how I would do that? You mean modifying these test to disable simd alignment in these containers? Or just override the xsimd alignment define in the full test?

[2021-06-29 05:13] sagyHarpaz opened #498 "Compilation errors when enabling XTENSOR_USE_XSIMD"
Hi.

I have a program that I wrote with xtensor., on microsoft visual studio.
[compilation_log.txt](https://github.com/xtensor-stack/xsimd/files/6730820/compilation_log.txt)

everything work great (but a little bit slow) when XTENSOR_USE_XSIMD is disable, but when I enabling XTENSOR_USE_XSIMD I got hundreds of compilation errors.

Please help.

attached the compilation log.

[2021-06-30 15:40] JohanMabille commented on #498
The master branch of xsimd contains breaking changes, please use version 7.5.0 instead.

[2021-07-05 00:05] masteranza opened #501 "Compilation error of benchmarks on Apple M1"
Here's the problem:
xsimd/memory/../config/xsimd_arch.hpp:22:10: fatal error: sys/auxv.h: No such file or directory

[2021-07-12 08:33] davidbrochart opened #503 "Support RISC-V SIMD/Vector extension"
It could be interesting to support RISC-V SIMD or Vector extension. The latter looks very promising as the vector length and data type can be changed at run-time, and is generally considered more efficient than packed-SIMD.

[2021-07-19 08:27] #424 closed

[2021-07-19 20:36] davidbrochart commented on #503
I guess we could start by using [Spike](https://github.com/riscv/riscv-isa-sim), a behavioral RISC-V simulator that supports the V extension.

[2021-07-28 10:18] RafaGago opened #515 "Some functions broken with "-ffast-math" enabled"
Tested both with vanilla Ubuntu 20.04 gcc and clang versions:

On commit:

I noticed the error on tanh and exp. It might happen on more functions.

Test case:

This gives a list of failed SSE cases. I didn't look in depth.

Simpler test case:

Built like:

Outputs:

[2021-07-28 10:42] RafaGago commented on #515
I was trying what was going on on the previous program.

Compiled as -O0 works as expected:

/usr/bin/g++ -I /xsimd/include/ -O0 -g -msse2 -ffast-math main.cpp -o test

Changing to -Og makes it fail:

/usr/bin/g++ -I /xsimd/include/ -Og -g -msse2 -ffast-math main.cpp -o test

Removing "-fast-math" works with both versions. Weird.

[2021-07-28 10:53] RafaGago commented on #515
Unfortunately at -Og it's very hard for me to debug, as it is inlining and I have no previous knowledge of what is going on with the implementations.

[2021-07-28 11:12] RafaGago commented on #515
Fortunately the program behaves the same with printf.

I added a printf on "detail::exp_kernel<B, Tag, double>::compute", on "include/xsimd/math/xsimd_exponential.hpp:72". I send "0.66" as input, this is what happens:

It seems that the range reduction function is broken (?).

[2021-07-29 20:19] JohanMabille commented on #515
Thanks for this detailed report and your investigation on this. We are currently working on refactoring the library, so this issue may be fixed in the next release. In the meantime, we plan to maintain a 7.x branch for convenience so that client can take the time to migrate to the new version.

I am a bit swamped with this refactoring, but when it's done and when I am back from holidays, I will in

[2021-07-29 20:39] JohanMabille opened #516 "Refactoring: restore SSE instruction set?"
The SSE instruction set contains instructions for float only. Moving wrappers of instructions operating on double to the SSE2 header, as it was done in [this commit](https://github.com/xtensor-stack/xsimd/commit/d5d7d69e3f7f7f27a5197284e66e4d39c3f12f87) , leads to a weird compilation error on all versions of gcc and clang:

[code]

We have two options here: restore the `xsimd_sse.hpp` header by mo

[2021-07-30 08:39] JohanMabille opened #522 "Refactoring: fix Neon dynamic detection"
The dynamic detection of Neon instruction set has been deactivated, it seems `AT_HWCAP` is not defined on arm7 and ARM8 32 bits architectures.

cc @serge-sans-paille

[2021-07-30 15:14] JohanMabille commented on #515
I've tagged a 7.6.0 which contains all the PR that could be backported from master until the commit that triggered the issue. The package should be available on conda-forge within an hour.

[2021-08-01 08:39] RafaGago commented on #515
Thanks! As you I'm on holidays. I'll check back as soon as I can. Can this be closed then?

[2021-08-18 07:37] 0Xellos opened #538 "Not found with conan + cmake_paths"
CMake gives the standard "package not found" error
[code]

See minimum failing example: [test.zip](https://github.com/xtensor-stack/xsimd/files/7005358/test.zip).

To make it work, we're using the following patches in a custom conan package: [patch.zip](https://github.com/xtensor-stack/xsimd/files/7005357/patch.zip). I'm not sure if that's the "right" way to fix and it's only a sidenote in other w

[2021-08-18 08:18] SylvainCorlay commented on #538
Which version of xsimd are you using?

[2021-08-18 20:42] 0Xellos commented on #538
We're using 7.4.0 in our patched builds, but it isn't in conancenter now so the example has 7.5.0.

[2021-08-18 20:54] SylvainCorlay commented on #538
Thanks, I just wanted to make sure that you are not using master.

This is surprising because xsimd does provide a `xsimdConfig.cmake` . However, we (xtensor and xsimd maintainers) don't maintain the conan packages, but only the conda ones, and it is possible that something is wrong with how this has been packaged for conan.

[2021-08-19 11:46] 0Xellos commented on #538
Yeah, that should be the case. Perhaps specifically for the cmake_paths generator.

Where's the right place to put the issue then?

[2021-08-20 18:47] RafaGago commented on #515
Sorry for the delay. I'm using this on a hobby audio project, so it took a while for being able to test.

I tested both 7.6.0 and 4decfbdfae7bbd3c036fdf9538c82b657caeb178 and the issue persists. I had no time to debug, but  I wrapped xsimd and I can toggle between a fallback thin-wrapper implementation based on <math.h> and xsimd with a #define. The <math.h> version works. The xsimd version breaks

[2021-08-20 18:52] RafaGago commented on #515
Same behavior on current master (cba930b0e0b6706e380aae2faebea4eda2cd69ac)

[2021-08-24 08:57] JohanMabille commented on #516
After in person discussion with @serge-sans-paille, it is fine to assume that if SSE is available, then SSE2 is available too.

[2021-08-24 08:57] #516 closed

[2021-08-24 08:58] JohanMabille commented on #522
This has been fixed.

[2021-08-24 08:58] #522 closed

[2021-08-25 13:59] DerThorsten opened #543 "simd_traits detail::has_batch does not compile for types without batch"
the logic to figure out if there is a batch for a type does not work:
the `detail::has_batch` function from here: https://github.com/xtensor-stack/xsimd/blob/311d3051a4f895356ede8821c05f31f394c27052/include/xsimd/types/xsimd_traits.hpp#L23-L30
does not compile for functions which do not have a batch. ie smth like
[code]

the compile error is smth like:
[code]

[2021-08-25 14:21] DerThorsten opened #544 "API changes tracking"
this is just to keep track of the api changes I noticed while refactoring xtensor from xsimd7 to xsimd8

there are some trivial changes
[code]
And more complicated ones
` xsimd::set_simd` is similiar to the new `xsimd::broadcast` but the new `broadcast` only takes one template argument.

...to be continued...

[2021-08-25 14:23] JohanMabille commented on #544
You meant `xsimd::set_simd` is similat to `xsimd::broadcast`, right?

[2021-08-28 20:47] serge-sans-paille commented on #515
Some extra info wrt. master

[code]

returns the same behavior with this option subset:

[code]

so at some point, associative math, signed zero or trapping math leads to the behavior we're observing.
Note that by design, `-ffast-math` can lead to incorrect code. So it's not a *bug* to have incorrect code here. I'll still have a deeper look.

[2021-08-30 06:50] #515 closed

[2021-08-31 09:52] RafaGago opened #547 "Some functions broken with -ffast-math enabled."
Coming from:
https://github.com/xtensor-stack/xsimd/issues/515

This fixes some functions, but unfortunately some issues remain. E.g. "tanh" is still broken on some ranges. Code snippet:

[code]
Output:

[code]

[2021-08-31 09:57] RafaGago commented on #547
I tried to place the fence on the select function instead, but it didn't fix the issue, so it must be some other type of reordering.

[2021-08-31 10:20] RafaGago commented on #547
Wait this might be a misreport. Closing until I get more info. Sorry.

[2021-08-31 10:20] #547 closed

[2021-08-31 10:40] RafaGago opened #548 "Some functions broken with "-ffast-math" enabled"
Coming from:
https://github.com/xtensor-stack/xsimd/issues/515

Sorry for closing and reopening. I got mislead because I thought I did a mistake. It seems that the bug is fixed on gcc but remains on clang. Snippet:

[code]

`clang++-12 -O2 -ffast-math main.cpp -o main -I <xsimd_path>`

Output:

[code]

[2021-08-31 13:08] RafaGago commented on #548
It seems that under fast-math the compiler is free to assume "x + y - y = x".

On clang volatile doesn't break the optimization, so I guess it should be disabled explicitly. I have a draft that works. Would be something like this acceptable? given more proper feature detection?

[code]
Notice that IMO, it is better to just "#error" on the volatile fallback. Failing to compile is better for a clien

[2021-09-03 10:24] #412 closed

[2021-09-10 07:26] cyb70289 opened #555 "[aarch64] any/all is suboptimal"
`any`, `all` operations can be implemented on aarch64 with single instruction `vminvq`, `vmaxvq`.
Currently, xsimd uses `vpmin`, `vpmax`, it's low efficient.
E.g., below code can be significantly simplified on aarch64.
**current code**
[code]
**refined for aarch64**
[code]

[2021-09-10 07:39] JohanMabille commented on #555
Thanks! Would you like ot open a PR to improve this?

The way to go is to wrap this implementation into a new method requiring `neon64` arch:

[code]

[2021-09-10 07:40] cyb70289 commented on #555
Sure. Will do.

[2021-09-10 08:44] cyb70289 opened #556 "[sse3] Leverage _mm_lddqu_si128 for unaligned load"
`_mm_lddqu_si128` may perform better than `_mm_loadu_si128` for unaligned load.
https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_lddqu&expand=4195,4195

In an simd program I'm doing. Performance improves from 5.49GB/s to 5.88GB/s when replacing `_mm_loadu_si128` with `_mm_lddqu_si128`.

[2021-09-10 08:45] cyb70289 commented on #556
Will create PR to enable `_mm_lddqu_si128` to sse3 and above architecture.

[2021-09-10 09:43] cyb70289 opened #557 "[SSE4] extract_pair performance is very bad"
When porting my current simd code from intrinsics to xsimd. I see big performance drop from 6.33GB/s to 1.58GB/s. Most drop comes from `extract_pair`. I build with clang-10, -O3, enabled SSE4_2.

Disassembler shows `extract_pair` is using the fallback code [1], not the optimal code based on `_mm_alignr_epi8`[2]. The optimized code is in ssse3, looks it's not inherited by sse4_2 -> sse4_1 -> sse3 -

[2021-09-10 09:56] cyb70289 commented on #557
@JohanMabille

[2021-09-11 16:14] serge-sans-paille commented on #557
Thanks for reporting! Can you share a small snippet that reproduces your issue? I'm esp. interested in the bacth type and the value of the scalar argument.

[2021-09-11 16:23] serge-sans-paille commented on #557
Actually found the issue, should be fixed by #559

[2021-09-13 07:48] cyb70289 opened #561 "[SSE] xsimd sse code failed to build with msvc"
See job failure logs in apache arrow: https://ci.appveyor.com/project/ApacheSoftwareFoundation/arrow/builds/40741051/job/llw14xb76e35vxlx
https://github.com/apache/arrow/pull/11142/checks?check_run_id=3584011150

[2021-09-13 18:32] drew-parsons commented on #374
xsimd is now packaged for Debian GNU/Linux.  We'd appreciate this kind of functionality, it could greatly improve the value of client libraries such as dolfinx.

[2021-09-13 21:14] serge-sans-paille commented on #374
This is now part of 8.0.0, see https://xsimd.readthedocs.io/en/latest/api/dispatching.html

[2021-09-13 21:15] drew-parsons commented on #374
Nice!  Thank you.

[2021-09-14 03:04] cyb70289 commented on #561
I think the reason is that MSVC doesn't define __SSEn__ macros. So xsimd doesn't support SSE if built with MSVC.
MVSV does defines __AVXn__ macros. CI appveyor jobs are build with /AVXn, so it doesn't catch the SSE failure.
https://docs.microsoft.com/en-us/cpp/preprocessor/predefined-macros?redirectedfrom=MSDN&view=msvc-160

[2021-09-14 13:03] #557 closed

[2021-09-15 09:44] #556 closed

[2021-09-16 22:18] nilsdeppe opened #567 "Decreasing SIMD widths in v8"
Hi folks, thanks for the cool library!

I have a question about v8 and dropping the SIMD width. Specifically, we need to compute finite difference derivatives of ~50 variables over ~100-1000 grid points. We shuffle the data so that the variable varies fastest in memory, so that we can differentiate multiple variables at once with SIMD. If we are using something like AVX2 where we can do 4 variable

[2021-09-20 07:46] #555 closed

[2021-09-20 08:44] JohanMabille commented on #567
Hi,

You can still pass the targeted instruction set when instantiating a batch. In your case, you would use `batch<double, avx2>` for 4 variables, `batch<double, sse4_2>` for 2 variables and `batch<double, scalar>` for a single variable (or simply loop over the remaining scalars).

A more generic approach where you don't need to know on which architecture the code runs will be added after release

[2021-09-20 16:37] nilsdeppe commented on #567
Hi @JohanMabille,

Okay, that should allow for a workable solution. Thank you!

[2021-09-25 15:40] dhk27182 opened #569 "What are compatible xsimd and xtensor versions ?"
Hi,
I'm confused about what are compatible versions of `xsimd` and `xtensor`.

The xtensor README says, xtensor-0.23.10 needs xsimd higher than 7.4.8.

But when I want to compile the xtensor tests from 0.23.10, cmake requires xsimd 7.4.4.

When I compile with xsimd 7.4.4, there are compilation errors - the first one looks like this:
`<MY_PATH_PREFIX>/xtensor-stack/include/xsimd/memory/xsimd_load_s

[2021-09-25 16:01] SylvainCorlay commented on #569
The cmake may need to be updated.

[2021-09-25 21:31] dhk27182 commented on #569
Simply changing the required xsimd-version in xtensor's (0.23.10) CMakeList.txt has not been successful.

I was not able to compile the tests with `XTENSOR_USE_XSIMD=ON` with xsimd 7.4.9, neither with 7.5.0 nor 7.6.0.
With `XTENSOR_USE_XSIMD=OFF`, its OK.

[2021-09-27 08:40] JohanMabille commented on #569
It looks like you're not looking at the right file (or your install of older versions did not erase 8.0.0). The versions are correctly defined in `xsimd/config/xsimd_config.hpp`:

[config 7.4.9](https://github.com/xtensor-stack/xsimd/blob/7.4.9/include/xsimd/config/xsimd_config.hpp#L16)
[config 7.5.0](https://github.com/xtensor-stack/xsimd/blob/7.5.0/include/xsimd/config/xsimd_config.hpp#L16)
[con

[2021-09-27 10:51] dhk27182 commented on #569
Ok, thank you, I will try to do a really clean install.

[2021-09-27 14:40] dhk27182 commented on #569
Well, after a clean install the tests also compiled with `XTENSOR_USE_XSIMD=ON`. It seems that I made a mistake with `git`when trying to checkout the tagged release.

So I will close the issue now. And thanks for the hint  to the problem !

[2021-09-27 14:40] #569 closed

[2021-09-28 01:16] cyb70289 commented on #561
Fixed in https://github.com/xtensor-stack/xsimd/pull/563

[2021-09-28 01:16] #561 closed

[2021-09-28 11:00] cyb70289 opened #573 "NEON64 code link error if gcc -O1 or -O0"
A simple test code
------------------------
[code]

Compiler with gcc -O1 or -O0
---------------------------------------
[code]

Other info
-------------
- Tested with gcc-7.5, 9.3, 10.3, all failed
- OK if -O2, -O3
- OK for clang, no matter -O?

[2021-09-29 02:55] cyb70289 commented on #573
Looks the error is from below static dispatcher code:
https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/arch/xsimd_neon.hpp#L42-L44

Without optimization, gcc treats the returned neon func (vorrq_s8, ...) as a function pointer, and tries to find the function at link time, which causes the error.

From this example code: https://godbolt.org/z/orsqz7xTn, obviously gcc thinks vorrq_s8

[2021-09-29 03:27] cyb70289 commented on #573
@JohanMabille @serge-sans-paille do you have ideas how to address this issue?

[2021-09-29 05:08] serge-sans-paille commented on #573
@cyb70289 can you try flagging the function as ``__attribute__((always_inline))`` ?

[2021-09-29 05:35] cyb70289 commented on #573
Flagging [this function](https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/arch/xsimd_neon.hpp#L40) as always_inline? I tried but it doesn't help.
`__attribute__((always_inline)) inline return_type<U> apply(U lhs, U rhs) const`

[2021-09-29 08:35] cyb70289 commented on #573
I filed a gcc bug: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=102526

As a workaround, I think xsimd users (e.g., apache arrow) can bypass simd code for debug build. This should be acceptable as you don't care about performance for debug build.

[2021-09-29 08:53] DerThorsten opened #575 "operator|| missing for const xsimd::batch<int, xsimd::sse3> || const xsimd::batch<int, xsimd::sse3>"
While refactoring xtensor to use xsimd8 I am getting this compile error:

[code]

[2021-09-29 08:54] DerThorsten commented on #575
same for `&&`
[code]

[2021-09-30 03:05] cyb70289 commented on #573
Gcc community does not think it's a bug, there was a discussion: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100005
I'm inclined to agree with the community. Taking address of an intrinsic does looks a bit strange.

One approach to fix this issue is to wrap the intrinsic with a lambda, which gives a pseudo address
to intrinics. See below example.
**[Current code:](https://github.com/xtensor-stack

[2021-09-30 05:45] serge-sans-paille commented on #573
I'm fine with the approach.

[2021-09-30 08:46] DerThorsten opened #577 "batch_bool_type missing in batch<std::complex>"
batch_bool_type missing in batch<std::complex> specialization

[2021-09-30 15:37] dhk27182 opened #579 "Typo in xsimd/benchmark/CMakeLists.txt ?"
Hi,
I think, there maybe a typo in line 17 of xsimd/benchmark/CMakeLists.txt, which currently is:
`set(XSIMD_INCLUDE_DIR ${xsimd_INCLUDE_DIR})`

Isn't it so, that the variable containing the include path, set in line 22 of `xsimdConfig.cmake` is called `xsimd_INCLUDE_DIRS` - with a trailing "S" ?

At least, for me this fix helped to compile the xsimd-benchmark, without it, it did not find the incl

[2021-10-04 21:36] #577 closed

[2021-10-04 23:16] #575 closed

[2021-10-04 23:18] JohanMabille commented on #579
Indeed it's a typo. Would you like to open a PR to fix it?

[2021-10-05 07:31] DerThorsten opened #585 "'`operator!`' missing for `xsimd::batch<std::complex<double>, xsimd::sse3>`"
while integrated xsimd8 in xtensor face this error (from test_xnan_functions in xtensor)
[code]

[2021-10-05 09:06] #585 closed

[2021-10-06 16:10] julian-parker opened #591 "Batch subscript operators gone for good in v8?"
Myself and some colleagues started to look at what is involved in migrating a bunch of our `xsimd` code from v7 to v8, and one major change that came up is the absence of the `[]` operator for batches. Obviously subscripting into SIMD vectors is bad-practice in general due to the performance impact, but we're using it in a few situations due to the lack of shuffle in `xsimd`. Is this feature defin

[2021-10-06 18:55] serge-sans-paille commented on #591
@JohanMabille I'll update the documentation to make that clear.

[2021-10-07 11:08] #591 closed, assigned to nobody

[2021-10-12 16:08] pitrou opened #595 "Missing include for `std::numeric_limits`"
We recently saw this issue on some of our CI builds:
[code]

[2021-10-13 14:39] AlenkaF opened #597 "Build error on Apple M1"
When building Arrow C++ I get an error with this traceback:

[code]

I am building on M1 MacOs:
- MacOs Big Sur Version 11.6
- Xcode 13.0
- Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/c++/4.2.1
- Apple clang version 13.0.0 (clang-1300.0.29.3

[2021-10-14 05:13] #595 closed, assigned to nobody

[2021-10-14 10:18] tomjnixon opened #602 "automatic conversion from pointer to batch"
While converting some code to V8, i changed some code which used `operator[]` to initialise a batch to something like this:

[code]
I know this is wrong, and I'm not sure where I got the idea what this would work, but it compiles and runs, and doesn't do what one might expect.

`init.data()`, a `int32_t *` gets converted to a `bool`, then to a `batch_bool`, then to the `batch` which i wanted, so i

[2021-10-14 14:46] pitrou commented on #597
cc @cyb70289

[2021-10-14 18:44] #597 closed

[2021-10-15 01:37] cyb70289 commented on #597
I've tested on apple m1. There's another issue in neon64.hpp. https://github.com/xtensor-stack/xsimd/pull/606 fixes it.

[2021-10-15 09:24] boris-kuz commented on #567
Hi @JohanMabille,

8.0 is out now, was the generic approach added? Or is that still in the works?

Thank you!

Best,
Boris

[2021-10-15 13:54] boris-kuz opened #608 "How to write code that agnostically targets SSE, NEON and AVX in xsimd 8"
Hey everyone!

We noticed that the second template argument of `xsimd::batch` was changed from the width to the target architecture from version 7.x to 8.
This raises a few questions:

1. Does the runtime dispatching still work? The target architecture is specified at compile time, so how is this compatible with the runtime-dispatching approach?
2. Suppose you have a program that is written with b

[2021-10-15 15:03] tomjnixon commented on #602
No problem. I tried my suggestion with the minimal example I sent, and it does work.

I think what happens is when you call `batch_bool` with a bool, it resolves to the non-template constructor (because it's more specific) and this isn't deleted, but any other argument type gets resolved to the templated constructor, which is deleted so you get an error.

I guess using `T*` would work too to preve

[2021-10-16 19:35] serge-sans-paille commented on #608
The following snippet extracts the best type to hold 4 floats among the available architectures (and dumps the architecture on stdout)

[code]

@JohanMabille It may be worth providing such aliases in the core library.

[2021-10-16 22:13] boris-kuz commented on #608
Thanks, this looks great! Correct me if I'm wrong though - this only resolves the type at compile time, right?
The doc states

So how does the runtime dispatching come into play here then? I don't really understand the point or the mechanics of specifying an architecture at compile them if the library is supposed to pick the "best intrinsics" at runtime?

[2021-10-17 09:29] JohanMabille opened #610 "Numerical issue on OSX"
The lgamma test with negative inputs have been disabled for architecture supporting AVX but not AVX2, because they lead to small differences for a few inputs:

[code]

However, the issue seems due to the platform (OSX) rather that the suported instrution set. Indeed, building on Linux with avx2 explicitly disabled results in passing tests (i.e., not nuemrical differences).

[2021-10-17 10:41] JohanMabille commented on #608
Agreed.

[2021-10-19 13:54] niyas-sait opened #611 "MSVC compile error for NEON (win/arm64)"
XSIMD library cannot be built using MSVC compiler on a windows/arm64 target.

### Steps to reproduce

Visual Studio 2019 or higher is required for compilation.

Compilation can be done natively on a win/arm64 machine or can be cross-compiled from an x86/x64 machine.

From a command terminal

[code]

The issue has been noticed while building the apache arrow library and would be required to build a

[2021-10-20 11:10] boris-kuz opened #613 "List Initializer with single element different behavior from xsimd 7"
Hey,

I noticed a change in behavior when migrating from xsimd 7 to xsimd 8.
Initializing a batch with a single-element-list-initializer does not fill the whole batch anymore, but just the first element.

xsimd 8 behavior: https://godbolt.org/z/d4KnoPMz4
xsimd 7 behavior: https://godbolt.org/z/a43fh56Tj

Would it make sense to automatically initialize the whole batch with a single value when using

[2021-10-26 13:41] boris-kuz opened #617 "Huge performance regression for xsimd 8 on Windows 10, SSE4.2 compared to xsimd 7"
Hi!

I noticed a huge performance regression for a couple of functions on Windows 10 with SSE4.2 batches compared to xsimd 7.
I'm using the profiler that comes with Visual Studio 2019, here's the comparison for xsimd 7 and xsimd 8 for the same code:

xsimd 7:
![image](https://user-images.githubusercontent.com/18011434/138889259-78cb5e72-84d4-4f63-bbae-5507b0cc97ec.png)
xsimd 8:
![image](https://us

[2021-10-29 14:21] boris-kuz opened #619 "Contribution guidelines"
Hey!

I was wondering on what your policy on contributions is? We have internal implementations for a couple functions not found in xsimd (mostly backports from `boost::simd`), but not for every target. Would it still be helpful to you if we submitted what we have as PRs? Or should I get in touch with one of you directly so we can discuss in detail?

Thank you!

[2021-10-31 01:02] amyspark opened #622 "Document to_float and to_int and support casts to/from unsigned types"
Hi!

I came upon this library while researching replacements for Vc. So far it's worked great, minus a few kinks here and there. However, the lack of intrinsics-backed casts produces a ~5x worse compute times on MSVC between Vc and xsimd-based implementations, even while accounting for hidden casts inside Vc. This performance hit can go as far as 100x if `/Ob1` or lower are used.

As an example:

[2021-10-31 10:49] #613 closed

[2021-10-31 10:51] serge-sans-paille commented on #622
mmmh, actually, `xsimd` can generate call to `_mm256_cvtepi32_ps`, but only when converting *signed* integers to float, and not *unsigned* integers. Which is definitively the semantic of [`_mm256_cvtepi32_ps`](https://www.intel.com/content/www/us/en/develop/documentation/cpp-compiler-developer-guide-and-reference/top/compiler-reference/intrinsics/intrinsics-for-intel-advanced-vector-extensions/int

[2021-10-31 12:40] serge-sans-paille commented on #622
(And note that although usage of `/ObN` family option is arguable, #620 fixes interactions of `xsimd` with `/Ob1`)

[2021-10-31 14:36] amyspark commented on #622
I just found that xsimd *does* have these sort of casts, through `to_int`/`to_float`, but they are undocumented in readthedocs.

We end up doing that anyway, so I've set the correct types from the beginning. Results look much better now, 50% faster on MSVC than our current implementation on AVX, with a slight slowdown on GCC 11.

[2021-10-31 21:45] serge-sans-paille commented on #622
I don't like having redundant operations like that. Shouldn't we just remove `to_float` / `to_int` and only keep `batch_cast`? Or the other way around? @JohanMabille any thohgts?

[2021-10-31 21:47] amyspark commented on #622
`batch_cast` is OK but it needs to be augmented for all casts supported by intrinsics. Currently it triggers a 200x slowdown in my benchmark because of the memory-backed roundtrip conversion.

[2021-10-31 22:08] amyspark opened #623 "Rounding ops are not optimized for SSE+ with _mm*_cvtps_epi32"
Compare these two:

[code]

GCC with `-O3 -mavx2` results in the following (equivalent) code:

[code]

Clang 13 with the same options:
[code]

[2021-11-01 13:37] emmenlau opened #625 "Error compiling xtensor tests with latest xsimd on MSVC 2019 v16.11.5"
I get an error when building latest xtensor tests against xsimd 8.0.3 on MSVC with latest Visual Studio v16.11.5. The problem is not particularly urgent or important for us, but I wanted to report it for completeness sake.

The error is
[code]

[2021-11-01 18:08] tomjnixon opened #626 "fast_cast is not used"
Currently, batch_cast always selects the fallback implementation, because `kernel::detail::conversion_type` is called with plain (non-batch types), but expects batch types.

Fixing this improves performance significantly; I'll open a PR soon.

[2021-11-01 20:32] serge-sans-paille commented on #626
bloody hell. that may explain some of the  #622 issues. PR welcome!

[2021-11-01 20:33] #579 closed

[2021-11-01 21:29] serge-sans-paille commented on #623
xsimd doesn't fold operations. In order to generate `_mm256_cvtps_epi32` you could use `xsimd::to_int` or (probably better once  #626 is fixed) `xsimd::batch_cast<>`

[2021-11-02 12:19] serge-sans-paille commented on #617
@boris-kuz can you confirm #620 fixes your issue with `/Ob1` ?

[2021-11-02 20:16] #626 closed

[2021-11-03 10:48] amyspark commented on #623
Thanks! marking it as resolved, since this removes all the code duplication I had.

[2021-11-03 11:02] nunupeke commented on #625
Same here. Does this only happen for the latest vs2019 version (v16.11.5)?

[2021-11-03 22:13] amyspark opened #630 "xsimd doesn't detect FMA on MSVC"
:wave:

I noticed that with MSVC, FMA is never detected because it relies on the `__FMA__` macro, which is GCC and Clang only.

However, from [this StackOverflow question](https://stackoverflow.com/questions/34265982/automatically-generate-fma-instructions-in-msvc) as well as [this MSDN post](blogs.msdn.com/b/vcblog/archive/2014/02/28/avx2-support-in-visual-studio-c-compiler.aspx), MSVC is indeed

[2021-11-03 22:51] tomjnixon commented on #630
It's in their docs too: https://docs.microsoft.com/en-us/cpp/build/reference/arch-x64?view=msvc-160

IMO it would be good to detect this in xsimd_config.hpp, otherwise it's easy to end up with worse performance on windows.

[2021-11-04 08:12] emmenlau commented on #625
I did not try older Visual Studio with latest xsimd. I can only say that older xsimd (<= 7.x) used to work.

[2021-11-04 09:20] JohanMabille commented on #619
Hey @boris-kuz,

PRs are definitely welcome, we can provide some guidance to have your functions working on all architectures (or at least have an acceptable fallback ). Do no hesitate to hop on https://gitter.im/QuantStack/Lobby if you have questions that you want to discuss without going through a long Github issue.

[2021-11-04 13:31] tomjnixon opened #632 "dispatch uses lowest available architecture if best available is not in the arch list"
Currently, `available_architectures().best` is used to select the function to be called by `dispatch`. This is the version number of the best architecture supported by the CPU.

If the best architecture is not in the `arch_list` passed to dispatch, all [`Arch::version() == best_arch`](https://github.com/xtensor-stack/xsimd/blob/f8c1a032673bbae2222d061bcb0e102d1a9ba930/include/xsimd/config/xsimd_ar

[2021-11-04 14:45] tomjnixon opened #633 "dispatch assumes that target architectures are supported"
First, sorry for the long issue, or if it's wildly off-base.

Compiler architecture flags change both the set of instructions available (through intrinsics) and  the set of instructions used by normal code. This means that in general it is not safe to run a program compiled with `-mavx2` (for example) on a CPU that doesn't support AVX2, even if any code using AVX2 intrinsics is disabled at run-tim

[2021-11-04 14:49] tomjnixon opened #634 "cpuid test for FMA is disabled"
The `best` calculation for this should probably check for `avx2` and `fma`, as the fma5 register type requires both.

[2021-11-04 15:05] #630 closed

[2021-11-04 15:44] amyspark commented on #633
The only thing that xsimd's `Arch` template parameter changes is the register size. The compiler is free to optimize it to match the `-march` target, as shown here: https://gcc.godbolt.org/z/r5qxcYrj3.

Vc does a similar thing, it's the way we use at Krita to runtime dispatch correctly: https://github.com/VcDevel/Vc/blob/1.4/cmake/VcMacros.cmake#L447

There's something worse, in the (unlikely) cas

[2021-11-04 16:06] tomjnixon commented on #633
Right, yeah; that's even worse.

Yeah, that looks familiar. Shame it's so complicated to make it work with lots of compiler versions.

That seems like something for the user to chose. For me this is fine as I don't support really old CPUs and so it would be a waste of code size, but I could see the argument for it to be added to `supported_architectures`. (As far as i can tell `available()` always

[2021-11-04 19:15] serge-sans-paille commented on #619
We now have a `CONTRIBUTING.md` file, I'm going to close that issue, and of course accept updates to that file ;-)

[2021-11-06 22:07] amyspark commented on #106
We have an use case that would benefit of these. Currently we can make do with zip_lo and zip_hi, but I believe it's a bit error-prone.

[2021-11-06 22:15] amyspark opened #636 "Support shifting whole batches left and right"
:wave:

I understand that xsimd's `<<` and `>>` operators shifting batches' elements individually and simultaneously via e.g. `_mm_sll_epi32` for left shifting a `xsimd::batch<uint32_t, xsimd::sse2>`.
However, being able to shift the *whole* batch ie. `_mm_bsrli_si128` would be useful in some cases.

[2021-11-07 16:49] amyspark opened #637 "List of supported architectures is incorrect"
:wave:

As of 5f6cc9bae1ab62aec7afcf6a5b10d07d728f872f, the readme claims that the following are supported:

Architecture | Instruction set extensions
-- | --
x86 | SSE2, SSE3, SSSE3, SSE4.1, SSE4.2, AVX, FMA3, AVX2
x86 | AVX512 (gcc7 and higher)
x86 AMD | same as above + SSE4A, FMA4, XOP
ARM | ARMv7, ARMv8

however, FMA3, FMA4, XOP (and SSE4a) are all dropped from the architecture lookup:

https:

[2021-11-07 16:52] amyspark opened #638 "Enable dispatching against the xsimd::generic architecture"
👋

Vc has a "Scalar" architecture that allows the library to be used without targeting any particular ISA, hence doing all computations on individual values.

xsimd does have something similar (`xsimd::generic`) that is the fallback for all architecture types. Would it be possible to complete its definition, if even with a dummy register type (a single T value), so as to make xsimd usable on poten

[2021-11-07 21:08] serge-sans-paille commented on #636
And we would call that a `slide_left` / `slide_right` operation, as done in [eve](https://github.com/jfalcou/eve). We can use `_mm_bsrli_si128` on intel architecture and the `vext*` family on arm architecture.

[2021-11-09 01:31] amyspark opened #639 "Implement single-value, pointer-based batch initialization narrowing to the pointer's type"
:wave:

[This example](https://godbolt.org/z/xdGe1hadq) compares Vc and xsimd implementations of a function that:
- takes the first `uint32_t` pointed by `data`
- extracts the lowermost byte
- extends it to 32-bit and converts the whole vector to float

In the case of Vc, it's all hidden behind the pointer-based initialization of `uint_v`, which accesses the value according to the value type of `u

[2021-11-09 06:21] #632 closed

[2021-11-09 06:21] #634 closed

[2021-11-09 06:55] serge-sans-paille commented on #639
Side note: switching the compiler from gcc to clang 13.0.0 makes xsimd's output better (even better than gcc's) :-)

[2021-11-09 12:04] amyspark commented on #639
I'm waiting on Godbolt to update their xsimd version, so I can check what MSVC does by comparison too 😄

[2021-11-10 22:39] amyspark commented on #636
Probably fixed by #568

[2021-11-15 01:21] amyspark opened #641 "xsimd::round should use CVTPS2DQ in x86"
:wave:

I'm not sure if it was intended, but the current implementation of `round` for x86 platforms doesn't use intrinsics at all. It seems to do a much more expensive scalar rounding.

Godbolt: https://godbolt.org/z/d9Mfdhf7a

[2021-11-15 01:25] amyspark commented on #641
Duplicate of #623, I will send the full Godbolt there.

[2021-11-15 01:25] #641 closed

[2021-11-15 01:26] amyspark commented on #623
Godbolt: https://godbolt.org/z/WKxP9a3ea

It seems `to_int` and the `batch_cast` equivalent generate truncation rounding, not `_mm256_cvtps_epi32`.

[2021-11-15 21:55] #619 closed

[2021-11-18 20:34] amyspark opened #643 "Cannot disable FMA5 when /arch:AVX2, possibly leading to performance loss"
:wave:

#631 enables using FMA5 when MSVC compiles against AVX2. However, the way it's done at present implies that it's not possible to override it in order to generate just code targeting `xsimd::avx2`. This is not only essential for dynamic dispatch a function without running into SIGILLS, I'm observing as much as 25% performance loss on our benchmark when compiled with `/arch:AVX2`.

I think t

[2021-11-18 20:39] amyspark opened #644 "Implement an inline macro to have maximum performance on MSVC"
:wave:

While debugging the still bad codegen of MSVC, I realised that on reasonably big functions, it doesn't inline any of the xsimd functions even when marked as `inline`. The real workaround is to mark all functions with `__forceinline`.

Would it be possible to implement such a macro?

[2021-11-18 21:37] tomjnixon commented on #643
Just checking, did you mean #631? #635 does allow the dispatch to pick fma5, but only if the cpuid bit is detected, which seems reasonable.

The way I've used this is to define a macro from cmake (or wherever) containing the architecture to compile for, and use that in explicit template instantiations -- that way you're not depending on the `default_arch` detection, and you get a more obvious erro

[2021-11-19 09:17] JohanMabille commented on #608
@boris-kuz  Would you mind contrributing your solution to xsimd?

[2021-11-19 14:30] marzer commented on #644
I think this also applies to the (lack of) use of `noexcept`, too; 'modern' MSVC has better codegen with it in debug builds ([ref](https://github.com/microsoft/STL/issues/363))

[2021-11-19 16:44] boris-kuz commented on #608
Yeah sure! I'll do it first thing on Monday :)

[2021-11-19 20:39] amyspark commented on #643
Yeah, I just fixed the ref.

I don't use the dispatch functor, we rely on default_arch for individual unit compilation and call architecture-specific versions manually.

Same as above re: dispatcher. I'll share a benchmark later as a demo.

[2021-11-20 22:03] serge-sans-paille commented on #644
I'm experimenting with `noexcept` everywhere in #645 . If possible I'd like to avoid `always_inline` or `__forceinline`.

[2021-11-20 22:08] marzer commented on #644
@serge-sans-paille if you wish to avoid it you could make it opt-in by exposing it as a configurable macro, e.g. `XSIMD_FORCED_INLINE`, and simply have it default to `inline`?

[2021-11-20 23:00] amyspark commented on #644
I'll test this branch tonight with my benchmark.

[2021-11-21 00:34] amyspark commented on #644
@serge-sans-paille, #645 has no effect on my benchmark; MSVC still doesn't inline xsimd's methods, resulting in a 50% perf hit compared to `__forceinline`. (Using `/Ob3 /O2 /Gv /Oi`)

[2021-11-21 12:37] serge-sans-paille commented on #644
@amyspark #645 updated with always inline, can you check if that fixes your issue?

[2021-11-21 13:49] amyspark commented on #644
That does the trick! But the `friend` functions in `xsimd::batch`, e.g.

https://github.com/xtensor-stack/xsimd/blob/54aa8e72bc7cda47907879f5ad2a9c11b4c127e7/include/xsimd/types/xsimd_batch.hpp#L163-L171

still need to be marked as `XSIMD_INLINE`, they're the only ones missing and MSVC doesn't judge them as inlineable (even thought the calls inside themselves are inlined).

[2021-11-21 16:36] serge-sans-paille commented on #644
Thanks o/ I've updated the patch accordingly

[2021-11-23 16:14] boris-kuz commented on #617
Sorry about the late response, I was busy with other things. The fix descibed in https://github.com/xtensor-stack/xsimd/issues/644 did the trick. Thank you!

[2021-11-23 16:14] #617 closed

[2021-11-23 16:21] boris-kuz opened #648 "error_gamma_test/fallback_double.gamma test failing on Intel OSX"
Hey!

I've noticed that the `error_gamma_test/falback_double.gamma` test is failing on the master branch and the release-tags. This is the output I'm getting:
[code]

I configured the tests with `cmake .. -DDOWNLOAD_GTEST=ON` and build and ran them with the following command `make xtest`. I'm running BigSur, using GNU make 3.81.

The tests build & run fine on x86 Windows and Linux.

[2021-11-25 20:39] serge-sans-paille commented on #643
Can you share a godbolt example? First, disabling fma5 at xsimd level won't prevent the compiler to (eventually) generate such instructions when it thinks it's valuable. Second, I'd like to understand why FMA5 instruction lead to performance penalty. FMA5 "just" introduces fma family instructions, I hardly see how they could not be beneficial...

[2021-11-25 22:06] serge-sans-paille commented on #639
@amyspark would that implementation (`fetch_mask_8`) based on a single shuffle match your speed requirements?

https://godbolt.org/z/8nGM4Eoqn

[2021-11-26 22:19] serge-sans-paille commented on #639
with #649 that could become

[code]

[2021-11-27 01:53] amyspark commented on #639
Yes, but the implementation is actually incorrect (to the best of my understanding). The Godbolt test should show that all implementations match in the returned values.

[2021-11-29 01:45] edponce opened #650 "FMA5 defined with AVX instead of FMA3"
Architectures that enable FMA are described as follows:
* [FMA3 = SSE4.2 + FMA](https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/types/xsimd_fma3_register.hpp#L25)
* [FMA5 = AVX2 + FMA](https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/types/xsimd_fma5_register.hpp#L25)

Nevertheless, at least in GCC, enabling FMA compiler features with SSE4.2 defines `__AVX__` which

[2021-11-29 02:10] edponce commented on #650
Created [this PR](https://github.com/xtensor-stack/xsimd/pull/651) with a possible solution.

[2021-12-01 17:04] mainland opened #652 "`xsimd::transform` no longer works with complex types in xsimd 8"
`xsimd::transform` no longer works in xsimd 8. Here is a short example of code that previously worked in xsimd 7 but no longer compiles:

[code]

One fix is to add non-member `store_aligned` and `store_unaligned` definitions. For example, adding the following definitions in `xsimd/types/xsimd_batch.hpp` fixes compilation:

[code]

Altering the definition of `xsimd::transform` to use the static mem

[2021-12-07 16:43] davidbrochart commented on #503
[Renode](https://github.com/renode/renode) also supports the V extension now.

[2021-12-23 14:49] franPul opened #658 "Indexing and replacing a single batch element in xsimd8."
Hi all,
Since version 8, I am missing the handful `operator[]` functionality. In version 7, apart from providing a way of indexing batches, it would also provide a l-value, so you could write something like,
[code]
I wonder what's the best way to get something similar in version 8. As suggested in the migration guide, one could store the register into an array, modify the array as desired, in this

[2021-12-31 19:58] namniav commented on #486
@serge-sans-paille  For this instance, GCC can vectorize it if you allow [`-ffast-math`](https://gcc.gnu.org/onlinedocs/gcc-11.2.0/gcc/Optimize-Options.html#index-ffast-math), see https://godbolt.org/z/T39eaPf5q. GCC can't vectorize it without `-ffast-math` because vectorization possibly would not give accuract IEEE or ISO results.

@jingchangshi
IMO it's hard, especially for beginers like me, to

[2022-01-11 06:07] hcoona opened #659 "benchmark didn't use v8 arch dispatching."
Failed to build benchmark on v8.0.5

[2022-01-12 07:06] #652 closed

[2022-01-12 07:30] serge-sans-paille commented on #658
sse4.1 has this `_mm_insert_ps` intrinsic that could mimic with something like

[code]

@JohanMabille what do you think?

[2022-01-12 19:54] serge-sans-paille commented on #639
@amyspark: are you satisfied with existing solution based on swizzle? Or should we implement it within xsimd?

[2022-01-13 13:18] #650 closed

[2022-01-16 15:00] serge-sans-paille commented on #643
@amyspark I recently merged a patch that provides three different variant for FMA architecture: `fma<sse4.2>`, `fma<avx>` and `fma<avx2>`. Can you check this matches your expectations?

[2022-01-16 17:22] amyspark commented on #639
@serge-sans-paille I'll let you know soon, I'm working on the whole port PoC.

[2022-01-16 17:24] amyspark opened #661 "operator `^=` is not defined for `batch_bool`"
👋

I just noticed that `a  ^ b` is not implemented in xsimd for boolean masks, only AND, OR and NOT.

A quick workaround is to use `xsimd::kernel::bitwise_xor` directly, which is what the existing operator for `batch` serves as a façade for.

[2022-01-16 17:25] amyspark commented on #643
@serge-sans-paille I'll check with an updated xsimd and let you know!

[2022-01-16 18:15] serge-sans-paille commented on #623
`to_int` maps to `cvttps`. The closest we can provide to `cvtps` is `xsimd::to_int(xsimd::nearbyhint(val))`

[2022-01-16 23:08] amyspark opened #662 "Implement gather/scatters"
:wave:

Vc allows to do masked loads/stores through an [interleaved memory wrapper](https://vcdevel.github.io/Vc-1.4.2/classVc_1_1Common_1_1InterleavedMemoryWrapper.html).

Unfortunately, replicating this access type outside of AVX is completely out of my reach at present, so it would be great to have it on xsimd.

[2022-01-17 11:52] serge-sans-paille commented on #637
Fixed by 2500d4998738aa8ce7a69679c8f6d1aa32a06816

[2022-01-17 15:09] #661 closed

[2022-01-17 16:11] tomjnixon commented on #662
Just in case anyone starts working this, I made a start here: https://github.com/xtensor-stack/xsimd/compare/master...tomjnixon:gather

There's some slightly complicated stuff (and unrelated tidying) in there and I'd like to get my story straight before opening a PR, but it does include something like `InterleavedMemoryWrapper`.

`stride_offset` can be used as the index parameter to `gather`, but

[2022-01-17 16:27] amyspark commented on #662
You're right there, I'll close this one as a dup.

[2022-01-17 16:27] #662 closed

[2022-01-17 21:03] amyspark commented on #637
https://github.com/xtensor-stack/xsimd/blob/74959a87c8a95de6f8e636de92c123b2a538809f/README.md#L37

@serge-sans-paille this bit has not been addressed.

[2022-01-17 22:23] amyspark commented on #643
Coming back with results @serge-sans-paille.

In GCC and Clang, it works! In MSVC, the configuration header still trumps my command-line `-DXSIMD_WITH_FMA3_<arch>=0`. If each definition had a `!defined XSIMD_WITH_<macro>` check beforehand it would be enough for overriding xsimd.

[2022-01-18 12:43] emmenlau commented on #625
Kindly pinging on this issue again. This is  currently blocking us from moving to xsimd 8.x series (and in turn blocking the latest xtensor and xtensor-python, oh my).

[2022-01-19 01:26] amyspark opened #664 "Benchmarks were not updated for v8"
:wave:

A custom xsimd build with `-DBUILD_BENCHMARK=ON` yields the following errors:

[code]

[2022-01-19 19:02] serge-sans-paille commented on #637
cc @JohanMabille for the arm part. Should we just update the documentation?

[2022-01-19 19:26] serge-sans-paille commented on #625
I have a small reproducer here:

https://godbolt.org/z/fdeGnzWEa

basically the type parameter of the batch doesn't look like a supported scalar type (It's a chrono time_point). I can improve the error message, but that's probably not what you expect. My understanding is that this comes from xtensor, @JohanMabille any hint?

[2022-01-19 20:41] serge-sans-paille commented on #625
@emmenlau can you confirm that with https://github.com/xtensor-stack/xsimd/pull/665 you at least get a decent error message?

[2022-01-20 16:04] denfromufa opened #666 "support for padding?"
Does xsimd provide support for padding dimension when specific sizes are not available for SIMD operations?

[2022-01-20 16:04] denfromufa commented on #666
Here is example of what I mean: https://stackoverflow.com/questions/10167564/simd-array-add-for-arbitrary-array-lengths

[2022-01-20 20:29] emmenlau commented on #625
Thanks a lot for the PR, I think it looks good. But I can not test it easily right now because our Windows build is currently being upgraded to VS2022. It may take a few days before I get back to this, is it ok?

[2022-01-20 20:54] serge-sans-paille commented on #666
So basically you want masked load (and store). That looks useful, I 'll think of what we can do in that direction (currently, it's not supported)

[2022-01-25 17:06] serge-sans-paille commented on #622
@amyspark can you check #667? `to_int` / `to_float` now fallsback to `batch_cast`, and most if not all [u]int64 <> double and [u]int32 <> float conversion should be handled

[2022-01-25 17:30] JohanMabille commented on #625
I can reproduce the bug on a local Windows machine, now investigating it, but that looks like a compiler bug that will require some cargo kulting workaround :/

[2022-01-25 18:24] emmenlau commented on #625
I see, very annoying... if its really a compiler bug then maybe I can try with Visual Studio 2022. If its fixed there then I'm fine, we can always flee forward...

[2022-01-26 01:45] amyspark commented on #662
@tomjnixon could I reuse that code? It looks good enough and only lacks the Arm side of things (which would be a nice way to start tinkering with).

[2022-01-26 02:07] amyspark commented on #622
@serge-sans-paille looks good to me! I think all that's left now is adding the relevant Arm bits. (Though, from the look of my own patches here, it'll need some `if defined __ARM_ARCH_8A__ || defined __aarch64__`.

[2022-01-26 08:32] JohanMabille commented on #625
I tried in the CI with VS 2022, same issue.

[2022-01-26 12:05] #622 closed

[2022-01-26 12:06] serge-sans-paille commented on #622
Done & merged :-)

[2022-01-26 12:58] amyspark opened #668 "AVX zip_lo/hi incorrectly uses AVX2 instructions"
👋  MWE:

[code]

When built with `c++ -O2 -mavx` (clang 13 on MSYS; note it's *not* AVX2):

[code]

Checked in xsimd 8.0.3, and also in commit 315f7c11751bab0771478f48c4197b4cf9b50404.

[2022-01-27 22:39] serge-sans-paille commented on #668
Thanks for the detailed report. Can you confirm  #670 fixes the issue?

[2022-01-28 15:35] amyspark commented on #668
@serge-sans-paille it does!

[2022-01-29 14:31] #668 closed

[2022-01-30 08:04] serge-sans-paille commented on #664
Fixed by #671

[2022-01-30 08:04] #664 closed

[2022-02-16 02:59] cyb70289 opened #672 "[NEON] Improve any/all implementation"
On neon64, `any` calls `vmaxvq_u8/16/32` based on data width [1]. Actually, we can always use `vmaxvq_u32` as we only want to know if there are non-zero bits, regardless of the position and width.

`vmaxvq_u8` does more work and is often slower than `vmaxvq_u32`. E.g., on neoverse n1, `vmaxvq_u8` latency is 6, but `vmaxvq_u32` latency is 3 (search UMAXV in neoverse n1 optimization guide [2]).

Sam

[2022-02-16 03:02] cyb70289 commented on #672
Observed better performance if always use `vmaxvq_u32` for `ximd::any` from https://github.com/apache/arrow/pull/12399.

[2022-02-17 13:06] #608 closed

[2022-02-18 21:56] #672 closed

[2022-02-22 16:04] serge-sans-paille commented on #633
https://github.com/xtensor-stack/xsimd/pull/675 proposes an approach to fix that issue, do you think it's suitable for your need?

[2022-02-22 16:31] tomjnixon commented on #633
Thanks.

I think the issues in the code were fixed in #635, as your test shows. It looks sensible, though I'd be interested to know whether the xsimd functions used end up being compiled for the right architecture. I've used intel SDE in the past to test this kind of thing -- it would be really cool to see that integrated into the test suite.

The remaining problems for me are that it's not easy t

[2022-02-22 16:35] amyspark commented on #633
I'd say to templatize the architecture parameter or make it part of the function signature, the current dispatch is very much still unreadable.

Though this is the real problem. The CMake macros I planned for this are definitely in the hellish side of the aisle, and https://github.com/xtensor-stack/xsimd/issues/643#issuecomment-1014924684 doesn't make it any less unbearable.

[2022-02-25 14:19] emmenlau opened #676 "Error about "load_unaligned" of std::complex<double> with Clang"
I could compile my sources successfully with xsimd 7.6.0. However since the update to current master (and subsequent update of xtensor), the build fails with:
[code]

This is on Ubuntu x86_64 with clang 13.0.1.

[2022-02-25 14:37] emmenlau commented on #648
This seems to be not an exact duplicate, but closely related to #456.

[2022-02-25 14:38] emmenlau opened #677 "Android support?"
I fail to use latest xtensor with xsimd on Android with the latest NDK. Since it seems that xsimd has ARM-support, it would be great if Android where supported too.

[2022-02-25 14:52] emmenlau commented on #677
With xsimd 0.7.6 and xtensor 0.23.10 I get a number of errors like the following:
[code]

[2022-02-26 16:34] serge-sans-paille commented on #633
Thanks for the feedback. I force-pushed a documentation update in #675, reverting to the previous API. I think that with that documentation, the CMake approach becomes super obvious: one just needs to compile every template explicit instantiation in a separate source  with the appropriate arch flag.

[2022-02-26 16:45] serge-sans-paille commented on #677
Can you run the same setup with xsimd 8? That would help a lot.

[2022-02-27 06:16] astrohawk opened #678 "batch_cast has a regression from v7 to v8"
Given that batch_cast is designed to convert all values in the batch from one type to another as if converted by static_cast, it made sense that, in v7, batch_cast was templated on the size of the input and output batch size. With the change to v8 where the batch is now templated on the architecture, batch_cast currently only works if the if the input and output have the same architecture, which i

[2022-02-27 11:25] serge-sans-paille commented on #678
Hey and thanks for the detailed issue. There are plenty of difficult choices there :-) It's worth trying to split them in independent issues:

1. How do we support intrinsic that are inherently cross architecture (like an AVX builtin that operates on `_m128` registers, etc) we currently have no generic support for this :-/ The only close construct we have is  `fma5<sse4.2>` and `fma5<avx>` etc. We

[2022-03-02 18:19] bonben opened #680 "Documentation : batch_constant"
Hi xsimd team.

I want to make a little suggestion. I had to use the swizzle function lately for a project, and I had a hard time creating the `batch_constant` needed to perform the swizzle. I had to refer to the test file [here](https://github.com/xtensor-stack/xsimd/blob/master/test/test_swizzle.cpp). It would be imo a good idea to add an example in the documentation.

My example was for a rotat

[2022-03-05 12:39] kloczek opened #683 "8.0.5: build fails"
gcc 12.0.1 from fedora rawhide.
cmake settings:
[code]
build fails with:
[code]

[2022-03-05 18:12] #680 closed

[2022-03-07 06:43] nilsdeppe opened #684 "pow broken for 0."
Hi!

Thanks for the fantastic library! I'm working on getting xsimd integrated into our code to make sure we won't have any bugs. One thing I've come across is that the implementation of `pow` doesn't work for `0.` when floating point exceptions are enabled. Specifically, I'm doing:

[code]

As far as I can tell this is caused by the use of `log(abs(self))` in https://github.com/xtensor-stack/xsim

[2022-03-08 09:39] kloczek commented on #683
I checked as well master and build fails as well
[code]

[2022-03-14 21:16] serge-sans-paille commented on #684
We're glad you enjoy xsimd! #688 should do the trick, the implementation is slighter slower than yours but probably more accurate, we can discuss it on the related PR :-)

[2022-03-14 21:50] nilsdeppe commented on #684
That looks great, I agree that's a safer and more accurate way to handle it :)

[2022-03-17 08:06] #684 closed

[2022-03-24 02:35] amyspark commented on #658
@serge-sans-paille @JohanMabille this is a (potentially horrible) way of returning a lvalue through a structure enveloping the target batch and the selected index. https://godbolt.org/z/GEe5hKW99

[2022-03-24 06:35] serge-sans-paille commented on #658
The resulting code is interesting but probably sub-optimal? Basically a good way to provide the feature would be a `shuffle` with a zeroed buffer followed by an `or`... I'll investigate, thanks @amyspark for suggesting this very templatish solution ;-)

[2022-03-24 08:41] serge-sans-paille commented on #683
I just started a scratch build on rawhide and it was working correctly: https://koji.fedoraproject.org/koji/taskinfo?taskID=84630111

[2022-03-24 14:19] amyspark commented on #658
@serge-sans-paille You may find this useful: https://stackoverflow.com/questions/67200087/how-to-set-a-int32-value-at-some-index-within-an-m128i-with-only-sse2/67200171#67200171

[2022-03-29 20:45] #658 closed

[2022-03-29 20:50] JohanMabille opened #691 "Implement insert for ARM architecture"

[2022-03-30 05:51] serge-sans-paille commented on #659
This got fixed in dcce14cac639f76869a0897dbc3a930c8efcc826 with a test case added to CI so it should not regress

[2022-03-30 05:51] #659 closed

[2022-03-30 15:50] #643 closed

[2022-03-30 17:00] Yuhta opened #694 "Fail to build tests on Apple M1"
First, `CHECK_CXX_COMPILER_FLAG` fails to work on my machine, giving me these errors: https://discourse.cmake.org/t/cmake-not-working-after-update-do-big-sur/2546.  This looks like a cmake issue and not related to xsimd specifically, but anyone trying to build xsimd tests on M1 may run into it.

I overwrite the `HAS_CPP11_FLAG` to workaround the above then, and got this error:
[code]

Does anyone

[2022-04-02 13:37] emmenlau commented on #676
It seems the underlying problem is that my code tried to multiply `xt::xtensor<std::complex<double>>` and `xt::xtensor<std::complex<float>>`. I guess this is currently not supported?

[2022-04-04 12:08] JohanMabille commented on #676
I should work, although it wond be vectorized.

[2022-04-05 12:41] emmenlau commented on #676
Well clang 14 seems not to compile the code unless I'm doing something wrong. Would it make sense to drop a few older versions of clang from CI and instead add newer versions? Or just broaden the spectrum? I can propose something if that's worthwhile?

[2022-04-07 08:08] #602 closed

[2022-04-07 10:34] emmenlau commented on #676
Ok I found that the problem is related to c++17 or c++20. When setting the c++ standard to anything higher than 14 I get a two build errors. But I'll open a separate issue for that.

[2022-04-07 10:34] #676 closed

[2022-04-07 10:39] emmenlau opened #700 "Support for c++17 and/or c++20"
It would be great if the xtensor-stack could support c++17 and/or c++20. Currently I fail to build with Clang when c++17 or c++20 is enabled. Here is one of the errors I get the xsimd:
[code]

This is on Ubuntu 20.04 x86_64 with clang 13.0.1 and clang 14.0.1.

[2022-04-07 10:40] emmenlau commented on #700
Another error is related to swizzle:
[code]

[2022-04-07 11:03] emmenlau commented on #676
Topic moved to https://github.com/xtensor-stack/xsimd/issues/700

[2022-04-09 19:49] #637 closed

[2022-04-10 14:37] emmenlau commented on #700
Since #703 has been merged, the swizzle ambiguity is solved, nice work @serge-sans-paille (and @JohanMabille ).

[2022-04-10 14:38] emmenlau commented on #700
Now with current master I get a new error in the mandelbrot example:
[code]

[2022-04-10 14:44] emmenlau commented on #700
Actually both of my original build issues have been resolved, thanks a million @serge-sans-paille , I get a working c++20 build now. Fixing this issue as solved, and will open a new one for the mandelbrot example.

[2022-04-10 14:44] #700 closed

[2022-04-10 14:46] emmenlau opened #709 "Latest master breaks the `mandelbrot` example in c++20 with use of deleted template method"
With current master 80fadd8 I get a new error in the mandelbrot example. This is with clang 14.0.1 on Ubuntu 20.04 x86_64. I did not test other compilers, let me know if that would help.

Build error message:
[code]

[2022-04-10 14:47] emmenlau commented on #709
Originally this was reported in https://github.com/xtensor-stack/xsimd/issues/700 but may be unrelated to c++17 or c++20?

[2022-04-11 07:21] #709 closed

[2022-04-11 07:41] emmenlau commented on #709
Confirming this works, thanks @serge-sans-paille !

[2022-04-11 20:28] #691 closed

[2022-04-12 12:10] #623 closed

[2022-04-13 03:53] jimmysue opened #716 "Android armv7 won't compile."
NDK Version r22b
NDK API LEVEL ： 21

error prints below：

<img width="975" alt="image" src="https://user-images.githubusercontent.com/29350169/163096709-658f0e8b-816f-48a9-bcda-0783bca19819.png">

[2022-04-14 22:59] Yuhta opened #717 "signed shift result (0x80000000) sets the sign bit of the shift expression's type ('int') and becomes negative"
[code]

[2022-04-15 08:09] serge-sans-paille commented on #717
This seems to be fixed in `master` branch:
https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/arch/xsimd_sse2.hpp#L545

[2022-04-15 13:07] amyspark commented on #648
I can confirm too on BigSur, though my target arch is `fma3<avx2>`. I see CI doesn't run FMA instructions, perhaps there's an issue there?

[2022-04-16 15:10] amyspark commented on #648
UPD: issue is equally reproducible with `CMAKE_CXX_FLAGS="-march=native -mno-fma"` and commenting the avx2 functions out. There seems to be a mistake or a codegen error on AppleClang with AVX instructions when the target architecture includes AVX2.

[2022-04-19 00:53] Yuhta commented on #717
Still happens on some lines, e.g. https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/arch/xsimd_sse2.hpp#L549

[2022-04-19 07:04] #648 closed

[2022-04-19 07:05] #106 closed

[2022-04-19 16:20] #717 closed

[2022-04-20 11:59] serge-sans-paille opened #721 "Releasing 8.1.0"
Just a meta-bug to track regression / wish list etc before 8.1.0 release

[2022-04-20 11:59] serge-sans-paille commented on #721
cc @amyspark @emmenlau and @JohanMabille

[2022-04-20 12:06] emmenlau commented on #677
This issue can be closed, as I no longer have these problems with xsim 8.x.

[2022-04-20 12:06] #677 closed

[2022-04-20 12:09] emmenlau commented on #498
@sagyHarpaz Is this issue still relevant?

[2022-04-20 12:10] emmenlau commented on #488
I can no longer reproduce this issue with 8.x releases of xsimd.

[2022-04-20 12:10] #488 closed

[2022-04-20 17:02] kloczek commented on #683
Indeed it does not fail because that task ID shows only building src.rpm.

[2022-04-21 08:00] emmenlau commented on #721
Thumbs up from my side, I (personally) do not have anything urgent in the pipeline. However I see there are a number of open issues regarding arm, Android and/or Apple M1 support. I can think that many of them are related in some form? Is that something that would be easy to address or nothing for the 8.1.0 release?

[2022-04-22 08:45] serge-sans-paille commented on #716
Thanks for reporting! Can you share the full error log and confirm the xsimd version you're using? Thanks!

[2022-04-23 23:27] amyspark commented on #721
:+1:  from my side. Awaiting checks from our Mac and Android devs.

[2022-04-29 12:05] jatinchowdhury18 opened #722 "assert vs. static_assert in initializer list constructor"
I noticed that the initializer list constructor for `xsimd::batch` throws an assertion if the initializer list size does not match the batch size. Since both the batch size and the list size are known at compile-time, would it be possible to make this a `static_assert`? I was recently migrating some code that had been using a different SIMD wrapper, and having the `static_assert` would have helped

[2022-04-30 13:34] serge-sans-paille commented on #722
xsimd is C++11, and in C++1, `std::initializer_list<T>::size`` is not constexpr, so no ``static_assert`` :-/

see https://en.cppreference.com/w/cpp/utility/initializer_list/size for reference

[2022-04-30 13:34] #722 closed

[2022-04-30 13:35] serge-sans-paille commented on #722
That being said, we could check the C++ version and use a ``static_assert`` if legal, I'll do that :-)

[2022-04-30 15:02] jatinchowdhury18 commented on #722
Ah, that makes sense. For some reason I had it as `constexpr` since C++11 in my head. Having a compile time check when possible would be fantastic! Thanks again :).

[2022-05-03 00:08] amyspark commented on #721
Heads up, I've got a report that AppleClang doesn't completely like the Arm optimizations I made in #708 and #710. I'm preparing the MR and the changes to CI to prevent it from happening again.

[2022-05-03 10:39] kloczek commented on #683
Gentle ping .. any update? 😃

[2022-05-05 05:15] #694 closed

[2022-05-05 08:18] JohanMabille commented on #721
swizzle fixed, I think we can release when the `nearbyint_as_int` is fixed.

[2022-05-05 16:43] marzer opened #729 "Add a batch_cast equivalent for batch_bool"
Hiya,

Recently I've found myself having to do math on floats, but do testing against integer masks that aren't _necessarily_ the same register, and I'd like to reduce the pain associated with working with `select()` in these scenarios.

The library has `batch_cast` for regular `batch`, but no equivalent for their `batch_bool` friends. There's some [undocumented `bool_cast()` functions](https://gi

[2022-05-05 20:02] amyspark commented on #721
@JohanMabille I'm working on permutes/shuffles/interleaves. It'll take a while, so I'll leave it for the next release.

[2022-05-05 20:22] JohanMabille commented on #721
ok.

[2022-05-05 20:50] emmenlau commented on #721
Thanks a lot guys, @JohanMabille two thumbs up for the release from my side!

[2022-05-06 21:12] JohanMabille commented on #721
xsimd 8.1.0 is out!

[2022-05-06 21:12] #721 closed

[2022-05-11 22:51] amyspark opened #733 "Template lane permutation"
Hi!

Would it be possible to template lane permutation (ie. `_mm256_permute2f128_*`) on AVX and higher architectures? I've found an use for them in some handmade pixel interleavers of mine.

[2022-05-12 14:29] amyspark opened #734 "test_rsqrt is defined but not enabled on"
👋

In https://github.com/xtensor-stack/xsimd/pull/679 @serge-sans-paille added some tests for the reciprocal square root function, though these were never enabled.

[2022-05-12 19:05] hameer-spire opened #735 "Compile error with xsimd on on ARM64/Apple Silicon"
Here is the traceback, unfortunately I cannot share a bigger reproducible due to proprietary code, but feel free to ask for more information.

The xtensor-dependent program compiles fine with xsimd off.

[code]

[2022-05-13 07:32] #734 closed

[2022-05-13 17:53] amyspark opened #743 "FP swizzles are broken on AVX with MSVC 2022"
👋

It seems that AppVeyor/Azure Pipelines didn't catch a (possibly codegen?) error on `swizzle` when compiled for AVX under MSVC 2022 (19.32.31328.0).

(I'm working on adding GHA builds for Windows, as AppVeyor is simply too slow and also doesn't run on forks.)

[code]

[2022-05-15 16:36] hameerabbasi commented on #735
MCVE:

[code]

<details><summary>Complete log with xsimd</summary>
[code]
</details>

Compiles fine without `xsimd`.

[2022-05-16 10:19] hameer-spire commented on #735
Godbolt link: https://godbolt.org/z/vj4fEGzqq

[2022-05-18 14:27] JohanMabille commented on #735
Wihch version of xtensor and xsimd do you use? With xtensor 0.24.2 (and master), and xsimd 8.1.0, everything builds and works fine.

[2022-05-18 14:56] hameerabbasi commented on #735
Then I think the issue may be specific to ARM64/Apple Silicon. I'm on those exact versions, I'm uploading a project including an `environment.yml` and a `./reproduce.sh`.
[xtensor-test.zip](https://github.com/xtensor-stack/xsimd/files/8717345/xtensor-test.zip)

[2022-05-18 20:10] kloczek commented on #683
Looks like 8.1.0 is fine now.
Closing.

[2022-05-18 20:10] #683 closed

[2022-05-19 13:47] alexshpilkin opened #748 "pkg-config file is broken when CMAKE_INSTALL_LIBDIR is absolute"
As per title: `xsimd.pc.in` has
[code]
and so can’t handle absolute paths in `CMAKE_INSTALL_LIBDIR`. This leads to broken .pc files on NixOS in particular.

Identical to https://github.com/xtensor-stack/xtensor/issues/2542. See “[Concatenating paths when building pkg-config files](https://github.com/jtojnar/cmake-snips#concatenating-paths-when-building-pkg-config-files)” for a thorough discussion

[2022-05-20 16:59] Yuhta opened #751 "Support gather for different sizes of types on data and indices"
We are recently using xsimd to make our [Velox](https://github.com/facebookincubator/velox) query evaluation engine portable.  One of the gap we found is xsimd does not support gather for different sizes of types on data and indices.  For example we have gather of int64 data with int32 indices, and this can be implemented using `__m256i` as data register and `__m128i` as index register on AVX2.  I

[2022-05-20 17:10] Yuhta opened #752 "Permute/swizzle with non-constant mask"
We are recently using xsimd to make our [Velox](https://github.com/facebookincubator/velox) query evaluation engine portable. One of the gap we found is xsimd only supports constant permutation mask in `swizzle`.  Can we have support for non-constant swizzle?

In our project we are only using permutation as a way of filtering data, so we take a register of data and a bit mask and move all elements

[2022-05-20 17:15] Yuhta opened #753 "Fast conversion between batch_bool and bit mask"
We are recently using xsimd to make our [Velox](https://github.com/facebookincubator/velox) query evaluation engine portable.  One of the gap we found is that there is no convenient way to manipulate `batch_bool` efficiently.

What we do in our project is to convert them to bit mask, manipulate the bit mask, then convert it back to SIMD register.  To achieve fast conversion we need to build some g

[2022-05-21 02:56] amyspark commented on #266
I fixed this with #710, @serge-sans-paille with #679.

[2022-05-21 05:45] serge-sans-paille commented on #752
I'd be happy to see a generic implemèntation of  `swizzle` being contributed. PR welcome!

[2022-05-21 05:56] serge-sans-paille commented on #753
We already have the `mask()` method in `batch_bool_constant`. I'm in favor of matching that for `batch_bool`, would you feel ok contributing that one?

[2022-05-21 05:58] serge-sans-paille commented on #729
+1 for that one. Please not thet we're still in C++11 though. Waiting for you PR :-)

[2022-05-21 06:00] marzer commented on #729
Sure, I'd be happy to give this a crack.

[2022-05-21 06:03] serge-sans-paille commented on #751
I'm not sure about the `HalfBatch`, but if I ere to implement it in xsimd, I would make it a type adaptor, something alike

`xsimd::half_batch<B>::type` instead of introducing new batch types. It would map `batch<float, avx2>` to `batch<float, sse4.2>`

But the fact that it doesn't have any specialization for `sse` it disturbs me.

[2022-05-24 01:11] amyspark commented on #751
This is what I did to hand-optimize two cases we use at Krita:

https://github.com/xtensor-stack/xsimd/blob/c7567bbedebcfbf3ba95304ff1a6722b32a0d63f/include/xsimd/arch/xsimd_avx2.hpp#L350-L369

Instead of using separate batch types, I would suggest to SFINAE on the size of the index batch.

[2022-05-24 17:58] #748 closed

[2022-05-24 18:19] serge-sans-paille commented on #733
Isn't that a request for a `shuffle` operation, where we currently only provide `swizzle`?
NB: I'm not 100% sure about the terminology here, my understanding is that `swizzle` operates on a vector and reorder slots based on a mask, while `shuffle` operates on two vectors and picks + reorder slots based on a mask.

[2022-05-24 18:32] amyspark commented on #733
It's a tongue-twister: xsimd's `swizzle` is the equivalent of Intel's `shuffle`s.

Here I need *whole lane* (128 for AVX, 256 for AVX512) `swizzle`s, which in Intel's lingo is `permute`s.

[2022-05-24 19:23] serge-sans-paille commented on #733
well, in that case xsimd's swizzle with the correct mask should be equivalent (but less efficient) correct ?

[2022-05-28 13:50] amyspark commented on #733
Hence my request for supporting these correctly; if even under the `kernel::detail` namespace, as is currently done with the batch merging primitives.

[2022-05-30 08:21] lamyj opened #756 "Unsupported architectures in 8.x"
This issue is more-or-less related to #460, but seem to be specific to 8.x, while #460 was specific to 7.x. It's also related to a [Debian bug report](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1010595).

Can unsupported architectures be used in versions 8.x?

The old `XSIMD_ENABLE_FALLBACK` does not seem to be used anymore (although it's still referenced in the [docs](https://xsimd.readthe

[2022-05-30 20:32] amyspark opened #757 "Adjust the rsqrt error range to account for AMD hardware"
@serge-sans-paille @JohanMabille,

I reported a possible miscodegen error in `test_rsqrt` to Microsoft [here](https://developercommunity.visualstudio.com/t/MSVC-2022-returns-imprecise-results-with/10042325). Turns out, AMD has slight precision issues wrt. Intel, so the test will fail with off-by-one errors for certain inputs.

Would it be possible to set an error range like it's done for the gamma

[2022-05-31 06:05] serge-sans-paille commented on #733
According to Intel intrinsic guide, `_mm256_permute4x64_pd` has a latency of 3 and a throughput of 1, just as `_mm256_permute2f128_pd`, so I don't see an interest of using specialized instructions for the implementation of `swizzle`. The interest of `_mm256_permute2f128_pd` is in it accepting two different arguments, but then that's not longer a one-operand swizzle

[2022-05-31 18:43] serge-sans-paille commented on #756
Basically no. On unsupported architectures, only the scalar version makes sense.

[2022-05-31 19:56] serge-sans-paille commented on #753
For the record: I've started working on this

[2022-06-01 12:16] lamyj commented on #756
Got it, thanks!

[2022-06-02 10:26] astrohawk commented on #678
Hey @serge-sans-paille, sorry I've taken so long to respond. I guess I've been busier than I anticipated. I think adding both parts might be too much for me to take on, especially part 1 which I think will require some high-level architectural work to get right. I'm not sure I'm best placed to make some of the necessary design decisions, though I'm happy to look into implementing part 2 if you can

[2022-06-03 07:35] JohanMabille opened #763 "documentation"
The documentation for arithemtic operators overload is missing. Also, some pages of the API Reference section seems to be merged into a single page while they should not.

[2022-06-03 09:31] wermos commented on #763
It looks to me like the functions inside the `batch` class template aren't documented. The class itself also defines the `load` family of functions:
![image](https://user-images.githubusercontent.com/63574588/171828454-37685d05-d85d-4638-acfe-e80700bf2511.png)
but the documentation doesn't mention that anywhere.

These functions have a different signature than the ones which are [already documente

[2022-06-03 14:18] amyspark opened #764 "Offer: GHA based CI builds"
Hey @serge-sans-paille @JohanMabille,

Our xsimd support is due to be released soon in Krita 5.1. When I was testing Arm things out, I found it very useful to port Arm versions of the Azure jobs to GHA; plus, I added MSYS options to account for our use of LLVM-MinGW in Windows.

These made it possible to check for build errors without having to PR the changes (to access Azure) and wait ages (for A

[2022-06-03 15:51] serge-sans-paille commented on #764
Sure, go ahead! And thanks for being a first-class user of xsimd ;-)

[2022-06-03 17:56] amyspark commented on #743
Closing as upstream problem: https://developercommunity.visualstudio.com/t/MSVC-2019-and-2022-corrupt-the-upper-hal/10042321

[2022-06-03 17:56] #743 closed

[2022-06-04 12:59] #764 closed

[2022-06-06 06:39] smozhaykin opened #768 "Compilation errors when enabling XTENSOR_USE_XSIMD during cross compile for Tizen"
Hello, I'm trying to enable xsimd optimizations for Tizen, but compilation fails.

I'm using xtensor 0.24.2, xtl 0.7.4, xsimd 8.1.0.

When `XTENSOR_USE_XSIMD` is not specified compilation completes successfully (please, ignore linking error, it's not relevant to this issue):

[code]

But with `XTENSOR_USE_XSIMD` option there are multiple errors:

[code]

g++ version:

[code]
Attaching both logs.

[2022-06-09 08:57] serge-sans-paille commented on #757
Sure! Would you mind proposing a patch?

[2022-06-13 16:40] #753 closed

[2022-06-14 21:23] serge-sans-paille commented on #763
Can you elaborate on that point?

[2022-06-15 07:28] JohanMabille commented on #763
THe following pages are merged into a single one (meaning you can scroll down across sections while they should be on dedicated pages):
- Arithmetic operators
- Comparison operators
- bitwise operators
- Mathematical functions
- Reducers
- Miscellaneous

[2022-06-15 20:11] serge-sans-paille commented on #763
Thanks! #769 is now ready for review, if @JohanMabille and @wermos can have a look?

[2022-06-17 13:37] #763 closed

[2022-06-18 14:53] lamyj opened #771 "Cannot create a batch of xtl::xcomplex"
Using current HEAD or latest tags (8.1.0 for xsimd and 0.7.4 for xtl), creating a `xsimd::batch<xtl::xcomplex<double>>` yields a compile-time error.

Minimal working example:
[code]

The compile error is, using `g++ -I xtl/include -I xsimd/include -std=c++14 -c foo.cpp` is:
[code]

With xsimd 7.6.0, a similar example (replacing the batch declaration with `xsimd::simd_type<xtl::xcomplex<double>> fo

[2022-06-19 06:22] serge-sans-paille commented on #771
xsimd now only supports one type of batch of complex, through `xsimd::batch<std::complex<...>>`. It can be intiialized through `std::complex` or `xtl::complex` cc @JohanMabille for the xtensor part.

[2022-06-19 13:24] drew-parsons commented on #771
xtensor still fails with #772 , showing the error that got set by the patch:
[code]

I guess it means xtensor still needs to be patched to `std::complex` as indicated by the message?

[2022-06-19 15:13] drew-parsons commented on #771
I filed Issue https://github.com/xtensor-stack/xtensor/issues/2549 for making the corresponding patch for xtensor.